[2017-11-01 13:23] borkdude opened #2 "Option to pass script to closh"
Is it possible to pass a script to closh, so you can execute a script from, say, bash?

    bash$ closh myscript.closh

or

    #!/usr/local/bin/closh
    ls |> #(println (coun t%))

[2017-11-01 14:00] dundalek commented on #2
Not yet, I think I would like to purposefully delay support for that. Closh is still very early in the development, syntax may change a bit. Which is bearable for interactive use but I don't want to break people's scripts.

It is actually quite nice to write scripts on top of [lumo](https://github.com/anmonteiro/lumo/) itself with [shelljs](https://github.com/shelljs/shelljs) used for more conveni

[2017-11-01 14:05] borkdude commented on #2
As long as the changes are listed somewhere (e.g. in a `CHANGES.md`), so I know what to upgrade, I wouldn't mind having breaking scripts. Example of lumo + shelljs is more than welcome!

[2017-11-01 16:04] xzfc opened #3 "POSIX Shell compability"
Have you considered using [POSIX Shell](http://pubs.opengroup.org/onlinepubs/9699919799/utilities/V3_chap02.html) compatible syntax?

That would allow sourcing shell scrips (e.g. virtualenv activate).

As far I can see, POSIX Shell have following incompatibles with closh:

- `( ... )` is a subshell (example: `cd /bin; (cd /;pwd); pwd`)
- `|>` is parsed as `| >` (example: `ls / |> out.txt tac` is s

[2017-11-01 17:20] gdeer81 opened #4 "Closh won't start on windows: Error spawn lumo ENOENT"
on this line you set the bin variable to be 'lumo'
https://github.com/dundalek/closh/blob/7f8a19438e851a69b97f10d9f0a95cde66fe9ee7/bin/closh.js#L8

Then when node tries to execute line 25
https://github.com/dundalek/closh/blob/7f8a19438e851a69b97f10d9f0a95cde66fe9ee7/bin/closh.js#L25

you get the spawn error because of this issue https://github.com/nodejs/node-v0.x-archive/issues/5841

[2017-11-01 17:27] #4 closed

[2017-11-01 19:58] lenw opened #6 "Tab completion"
Having intelligent tab completion would be great 🥇

[2017-11-01 19:59] lenw opened #7 "Terminal colours"
Is there a way to get terminal colours ? Would that involve some sort of tty emulation ?

[2017-11-01 20:51] willghatch commented on #7
If you mean colors when using `ls` and other commands, you get that by adding flags, eg. `ls --color=auto`.  Often operating systems will ship with a default `.bashrc` that includes something like `alias ls="ls --color=auto"`.

[2017-11-02 08:12] sirolf2009 opened #8 "Cannot use ~"
This works fine
[code]
This does not
[code]
Same goes for cd
[code]

[2017-11-02 12:18] 4mitch opened #9 "Unhandled error on Windows 7"
Seems it "closhed" in unahdled error on Windows 7. May be due to demokit dependency

<pre>
C:\Users\4mithc\AppData\Roaming\npm-cache\_logs>closh
events.js:163
  throw er; // Unhandled 'error' event
      ^
Error: spawn lumo ENOENT
    at exports._errnoException (util.js:1050:11)
    at Process.ChildProcess._handle.onexit (internal/child_process.js:193:32)
    at onErrorNT (internal/child_process.j

[2017-11-02 12:38] borkdude commented on #9
Maybe this pull request solves it? https://github.com/dundalek/closh/pull/5/files

[2017-11-02 19:25] dundalek commented on #9
@4mitch I just published the fix from the PR as `v0.1.2`. Could you try it out?

[2017-11-02 19:27] dundalek commented on #8
Yeah, we are starting to hit limitations of the builtin Clojure reader. I need to figure out a solution, probably writing custom parser.

[2017-11-02 19:31] dundalek commented on #7
Exactly as @willghatch said.
@lenw Do you get colors when you run `ls --color=auto`? If not which terminal are you using?

[2017-11-02 19:31] dundalek commented on #6
Definitely on the list.

[2017-11-02 19:36] dundalek commented on #3
I am leaning towards not having fully POSIX compatible syntax. What is the outcome you need from sourcing the existing scripts? Is that mainly to set up some environment variables?

[2017-11-02 20:05] 4mitch commented on #9
@dundalek Well, this error has left. But that one occurs now
<pre>
C:\Users\Dima>closh
ERROR in file closh/core.cljs
         (new)
         Function.cljs.core.ex_info.cljs$core$IFn$_invoke$arity$3 (NO_SOURCE_FILE <embedded>:1928:72)
         Function.cljs.analyzer.error.cljs$core$IFn$_invoke$arity$3 (NO_SOURCE_FILE <embedded>:2539:92)
         (NO_SOURCE_FILE <embedded>:6020:354)
         z (NO_S

[2017-11-02 20:53] yubrshen commented on #6
To me, tab completion is the top priority. Without it, it's really hard to use.

[2017-11-02 21:07] xzfc commented on #3
Yes, setting environment variables. These scripts can be complex and even taking arguments but the main outcome is setting variables. Example: `iccvars.sh`, needed for intel c++ compiler [doc](http://scc.qibebt.cas.cn/docs/compiler/intel/11.1/Intel%20C++%20Compiler%20for%20Linux/main_cls/bldaps_cls/common/bldaps_invoke_cl_comm.htm) [src:compilervars.sh](https://raw.githubusercontent.com/zchee/comp

[2017-11-03 03:50] mnewt commented on #3
This is doable using a wrapper like fish shell's [bass](https://github.com/edc/bass).

Wrappers like bass work by executing the script using its native interpreter (in this case bash), taking a diff of the before and after state, and replaying that diff into the environment.

I think this is the best way to do it because what is the point of replicating POSIX in a project like this? closh exists b

[2017-11-03 12:40] dundalek commented on #3
@mnewt Thanks, you are spot on with the reason for not replicating POSIX. I should probably start writing down some design philosophy document and add it there. I think the bass / fix approach is great for solving this particular need. If you are able to hack something up that would be really cool.

@xzfc Do you think this solution would solve your need or can you think of additional cases?

[2017-11-03 12:49] dundalek opened #10 "Last result value in repl is shifted"
Clojure REPL keeps the result of last command in variable `*1` and previous results in `*2` and `*3`. However, this gets broken because we evaluate function that renders prompt after each command. The function used for evaluation is [execute-text](https://github.com/anmonteiro/lumo/blob/master/src/cljs/snapshot/lumo/repl.cljs#L1104), the results are set in `process-1-2-3`.

Possible solutions:
1)

[2017-11-03 12:54] dundalek opened #11 "Slow tests"
The whole test suite takes minutes to run, which is too slow. The reason for this is that it spawns child process to evaluate each closh case.

Possible solutions:
1) Make the [test runner](https://github.com/bensu/doo) run on Lumo, that way we could evaluate the test cases within the test runner process.
2) Start one evaluator process, then use some sort of IPC to send code to evaluate and result

[2017-11-03 13:23] dundalek opened #12 "Feature: User-defined Aliases, Abbreviations, Functions and Commands"
For user defined helpers I am thinking of supporting following:

## Aliases

Aliases for defining / overriding functionality. When alias is used it does not get expanded and is saved into history as is.

Example:
[code]

## Abbreviations

Abbreviations are similar to aliases but expand to underlying definition. Therefore autocomplete can work seamlessly and also full command is saved to history. I

[2017-11-03 13:50] xzfc commented on #3
I don't have additional use-cases. Wrapper approach sounds good to me.

[2017-11-03 14:03] dundalek opened #13 "Parsing manual pages for auto-completion"
This is not an immediate concern but I am creating an issue for discussion and to collect currently existing approaches and maybe for someone to take a stab at it.

Parsing manual pages is a messy business since there is no single standard and there are many slight variations.

Existing approaches:
- Only project I am currently aware to attempt this is fish with [fish_update_completions](https://w

[2017-11-03 14:07] dundalek commented on #6
Here is a overview how to approach this:

## 1) Tab-based autocompletions

First step and quickest way to get to autocompletions is to integrate existing defitions from fish, zsh, bash. I've already done some experiments on that: https://github.com/dundalek/commandray/tree/master/vendor

## 2) Fish-like auto-suggestions as you type

Once we have autocompletions we can improve the experience by imp

[2017-11-03 14:24] harelba opened #14 "Crash when accessing a vector through a string"
[code]

[2017-11-03 14:35] dundalek commented on #14
I think you want to replace `"xx"` with `1` in the `update` function like this:
`ls |> (group-by (comp first (fn [x] (.toLowerCase x)))) | (take 1) | (map #(update % 1 count))`

And then we should wrap the repl with try/catch to prevent the crash.

[2017-11-03 14:38] dundalek commented on #6
Another cool enhancement would be to offer suggestions from [tldr](https://github.com/tldr-pages/tldr).

[2017-11-03 14:40] harelba commented on #14
Yeah, I did that change on purpose, to test some stuff. The result should be an error of course. It's just the crash that needs to be fixed.

[2017-11-03 15:13] dundalek opened #15 "Loading files and libraries"
- Load clojurescript files with `(load-file "some/file.cljs")` (seems to be broken at the moment).
- Require globally installed nodejs libraries like `(def decode-prompt (js/require "decode-prompt")`.
- Require clojurescript libraries with `(require 'libname.core)`. The trouble is with specifying classpath.
  - Maybe if libs are downloaded via Maven from Clojars they will get picked up automatical

[2017-11-03 15:26] dundalek opened #16 "Environment variable integration"
As for  now one can use the JS interop to access and set environment variables:

[code]

Maybe we want to introduce helper functions like `(setenv)` or `(setenv!)` and `(getenv)` ?

Another thing is setting an env variable only for the child process, alternative to bash:
`NODE_ENV=production npm start`

[2017-11-03 16:21] dundalek opened #17 "Support multiline input"
When parentheses are unbalanced and enter is pressed go to multiline mode. Lumo does this by checking [isReadable](https://github.com/anmonteiro/lumo/blob/master/src/js/repl.js#L103).

Would be also cool to integrate [parinfer](https://github.com/shaunlebron/parinfer).

[2017-11-03 17:54] dundalek commented on #9
Just published a fix in `v0.1.3` that hopefully does it.

I don't run a windows machine to test it on. If this does not do the trick I am willing to claim windows unsupported and wait if some developer who runs windows can help out.

[2017-11-03 18:28] 4mitch commented on #9
Great! It works now! Plz close the issue

[2017-11-03 18:37] 4mitch commented on #12
Will it work like init.el in Emacs?

[2017-11-03 18:52] dundalek commented on #9
Cool, thanks for testing!

[2017-11-03 18:52] #9 closed

[2017-11-04 21:14] mnewt commented on #16
I created a pull request for (getenv) and (setenv). It seems omitting the '!' is the way you're going with other things. I agree with this, as it's cumbersome to type and this is a shell--lots of stuff is going to be mutable.

I think more needs to be done though. I haven't fully thought this through, but it seems closh will need shell local and exported (environment) variables just like other she

[2017-11-04 21:19] mnewt commented on #3
@dundalek Yes, I'll create a helper function in `core.cljs`, unless you think a different approach is better.

[2017-11-05 11:39] dundalek commented on #16
I like the reasoning behind omitting the bang.

Sweet, that's a pretty nifty trick with the `env` command. I am glad it works so we don't need to add an additional function.

[2017-11-05 11:40] dundalek commented on #3
@mnewt Cool! I think we might want to create `util.cljs` or something like that and have it there.

[2017-11-05 11:45] dundalek commented on #12
@4mitch Currently we load `~/.closhrc` on startup so users will be able to put these kinds of definitions there. So you could say it is similar to Emacs init (from my limited understanding of Emacs).

[2017-11-05 13:59] borkdude opened #19 "read-line"
Would be a nice feature to add `(read-line)` support (synchronously). Now I need to include a library like `https://github.com/anseki/readline-sync` which seems a bit involved for a simple script.
Planck also had `read-line` support which could serve as inspiration.

[2017-11-05 15:31] dundalek commented on #19
We already have a readline support which is built in node. It is not as advanced and extensible as gnu readline but it supports [some basic commands](https://github.com/nodejs/node/blob/master/lib/readline.js#L760). We might need to replace it in the future to support more advanced features, but I think for now it serves well.

[2017-11-05 15:36] borkdude commented on #19
Are we talking about the same thing? I meant reading a string from the
user, like Clojure’s `read-line` function.

[2017-11-05 15:49] dundalek commented on #19
Gotcha, I see what you mean now.

[2017-11-05 16:04] mnewt opened #20 "Docs pages for builtins, operators, and helper functions (aka commands)"
I think it would help new users if the following features were explained with quick examples:

- [ ] builtins
- [ ] operators
- [ ] helper functions (commands)

[2017-11-05 21:49] ron-wolf opened #21 "Syntax highlighting?"
A la [`fish`](https://fishshell.com), where it’s very useful for, e.g., verifying that a pasted-in string does not need escaping. Feel free to close if it’s not in the pipeline.

[2017-11-06 04:35] mnewt commented on #3
@dundalek I created a proof of concept "source" helper function. Probably needs a different name, some tweaking, whatever. I will create tests and docs before making a PR.

https://github.com/mnewt/closh/commit/2800196fcc1a422c6eece99023bb0a2beca149c3

However, I can't seem to plug it in to `eval.cljs` properly. This is what I get when I try to invoke it:

[code]

This works fine in lumo (https://

[2017-11-06 10:55] dundalek commented on #3
@mnewt Cool! If you add `[closh.util]` into require statements in `main.cljs` it will work (and keep it in eval as is). I agree on a different name since we don't want to override the Clojure's `source` function.

[2017-11-06 10:56] dundalek commented on #21
Yes, I would like to eventually have this.

[2017-11-06 11:03] #14 closed

[2017-11-07 11:49] theronic opened #22 "Paredit"
Hi! This is awesome - thank you!

How to integrate paredit support and rainbow parens?

Clj/Cljs has been my primary scripting language for a while now, but it's a pain to deal with I/O and process control, so this hits the sweet spot. I think it would aid adoption to show users how to make closh their default shell :).

[2017-11-07 13:57] dundalek commented on #22
Hi, thanks. We are still very early in the project, so right now the priority is to get basic things working. But I agree we will have a great opportunity to add some sweet features in the future.

For my personal Clojure coding I prefer Parinfer, it also feels more lightweight so I am leaning towards trying integrating it into the shell first. Out of curiosity, what kind of structural commands do

[2017-11-07 14:04] codeasone commented on #22
+1 for paredit support, with configurable key bindings.

[2017-11-07 14:31] dundalek commented on #22
I wonder whether integrating it into Emacs buffer would do the trick :)

[2017-11-07 15:09] mnewt commented on #11
@dundalek What's the reason the tests are running under doo? I'm trying to remove it and make a thin lumo wrapper to run from there. So far it looks workable, I'm just having to re-plumb a few things. Not sure if I'll run into a roadblock but nothing yet.

[2017-11-07 15:34] dundalek commented on #11
@mnewt Doo is the default runner in the template I used. If we can switch to lumo directly that would be great.

[2017-11-08 08:41] theronic commented on #22
@dundalek I get the feeling most Closh expressions will fit on one line, while making it easy to refer to symbols loaded from watched *.cljs files in the current & user folder that live in some namespace.

Parinfer's big idea seems to be about making whitespace meaningful / reflective of the tree structure, which does not apply to one-liners so much. I tried Parinfer for a while, but went back to

[2017-11-08 10:57] dundalek commented on #22
@theronic Wow, thanks, what a great feedback!

You make a great point that messing with whitespace is probably not what you want to do in repl. I need to explore Paredit more. I have VIM roots and now using Atom, which has a first-class Parinfer support. I would like to try Emacs too, but it is way over my head too. One hope for me is [Spacemacs](http://spacemacs.org/) with evil mode which looks m

[2017-11-08 16:19] willghatch commented on #22
If you try emacs/spacemacs, I also recommend looking at [smartparens](https://github.com/Fuco1/smartparens), which is (in my opinion) a little better than paredit.  Also check out my little package [on-parens](https://github.com/willghatch/emacs-on-parens) that makes it work well with evil/vim style editing.

In Rash right now I'm using readline for completion and command line editing, but in the

[2017-11-09 02:43] loboyd opened #24 "Cannot start with npm"
Hi. I'm new to open source contributing and git, so sorry in advance for any silly misunderstandings.
I am not able to start Closh with npm. I have cloned both from my own fork and from the original repo with the same results. When using `npm install`, I get the following  #message:

`> deasync@0.1.10 install /home/logan/Documents/closh/node_modules/deasync

`linux-x64-node-6` exists; testing
Bina

[2017-11-09 03:38] tomisme commented on #22
+1 for Parinfer support! I can't live without it now. My gut feeling is that it makes the most sense in a shell-like context as you wouldn't need to use additional hotkeys (just tab/return).

[2017-11-09 11:04] dundalek commented on #24
Hi, it needs lumo. So if you run `npm install -g lumo-cljs` that should fix it for you. I will update the instructions to make it more clear.

[2017-11-09 12:31] loboyd commented on #24
Awesome. Thank you!

[2017-11-09 12:31] #24 closed

[2017-11-09 18:00] mnewt commented on #11
Please see #25

[2017-11-11 06:45] theronic commented on #22
@dundalek Paredit/Parinfer are only effective when parens are balanced, otherwise which tree structure is being navigated/mutated? Hence top commands are the balancing paredit-open-*/*-kill commands. (If only I could get back a lifetime spent balancing parens in C++/JavaScript!)

(Brief diatribe: computing was set back a few decades by focusing on streams of characters instead of trees of meaningf

[2017-11-12 14:04] mohsseha opened #27 "for loops"
Hi,

Simple example that does not work for me:
[code]

[2017-11-12 14:29] mohsseha commented on #27
duplicate of other issues

[2017-11-12 14:29] #27 closed

[2017-11-14 20:18] mnewt opened #28 "Move lumo into git submodule or subtree?"
Should the lumo repo be imported as a subproject of closh?

- It would make things easier for someone to build it if the link to lumo was already built in
- It would lock down the version of lumo

If that seems like a good idea, should it be a submodule or subtree? I don't feel strongly either way. I guess I lean toward subtree.

I'm happy to send a PR

[2017-11-15 02:57] dundalek commented on #28
My initial reason not to put lumo in package.json dependencies was to save space by not downloading duplicates (I suspected early adopters would have lumo already installed). But this decision seems to still cause trouble, especially on mac. Therefore I am cool to put lumo into package.json now.

[2017-11-15 03:28] mnewt commented on #28
Huh. I didn't think it would be enough to put lumo-cljs in package.json since it just includes the binary, not the source. Is there something I'm missing?

[2017-11-15 13:05] dundalek commented on #28
Oh sorry, I misunderstood. However, I am not sure what added benefit would building lumo from source have?

It would be cool though if we could hook into lumo's build process and bundle lumo and closh into a single executable.

[2017-11-15 15:12] mnewt commented on #28
I don't have any particular feelings about building lumo from source, but parts of its source are required unless I am misunderstanding something (which is quite possible).

Here is my understanding: When closh gets built, it doesn't just need the lumo executable--it needs the source too:

project.clj:
[code]

src/closh/eval.cljs:
[code]

That source isn't contained in the npm `lumo-cljs` package,

[2017-11-15 18:53] dundalek commented on #28
I see. If I remember correctly I had to add those lumo source dirs for the test runner to run. Now that we are running in lumo that may no longer be needed.

Actually the closh does not get pre-compiled. Lumo loads and compiles cljs files directly when it starts. It uses caching so it should do the ccompilation only once.

It would be cool to compile closh with lumo so that it can be possible to r

[2017-11-15 18:59] bigDaddyS1oth opened #29 "Creating a in-browser playground for Closh"
Hello,

While I'm not nearly as experienced as probably most of you all who look into Closh are, I thought it might be interesting if we could create sort of a in-browser Closh playground for people to check out easily. Obviously it'd be written in Clojure[Script] 😉, but I think it'd be a fun project.

[2017-11-16 00:35] mnewt opened #30 "handle Ctrl-C"
Closh doesn't process Ctrl-C while a command is running (maybe it doesn't pass it to the child process?). And when Ctrl-C is pressed at the prompt it exits (is that read-line trapping it?).

[code]

Expected outcome is:
1. Ctrl-C interrupts a child process
2. At the prompt, Ctrl-C clears whatever, if anything, is written on the command line but otherwise does nothing. This is just my preference as

[2017-11-16 15:55] dundalek commented on #30
Definitely high on the list. We need to handle these things:
1) Interrupt when clojure code is running (lumo repl does this so I will look for inspiration there)
2) Send SIGINT signal to the child process (if a command is running)
3) Cancel the pipeline

I agree when no command is running then clearing the command line would be nice.

[2017-11-16 16:01] dundalek commented on #29
I think it would be doable. Bootstrapped ClojureScript in browser has been done and there are javascript libraries available for tty rendering.

The power of Closh is about combining unix commands, otherwise you just have a simple cljs repl. So the trickiest part would be to either implement mocks of some unix commands or run it on the server and figure out some sandboxing so that server does not

[2017-12-01 14:33] dundalek commented on #16
Implemented in the PR

[2017-12-01 14:33] #16 closed

[2017-12-06 00:38] mnewt commented on #30
I started testing some of this in node (without lumo). Unfortunately, lumo has a bug where it doesn't respect SIGINT traps (https://github.com/anmonteiro/lumo/issues/191).

After that is dealt with, it looks like we will need to use node's startSigintWatchdog (https://github.com/nodejs/node/blob/master/src/node_util.cc) to trap during execution.

[2017-12-06 00:44] mnewt commented on #3
This should be fixed with #35

[2017-12-06 00:53] mnewt commented on #28
I'll close this for now. There's plenty of other work to do before building a standalone closh.

[2017-12-06 00:53] #28 closed

[2017-12-06 13:14] dundalek commented on #3
Yeah, cool!

[2017-12-06 13:14] #3 closed

[2017-12-07 11:18] dundalek opened #39 "Improved reader"
We use built-in clojure reader to parse the command mode, but it does not accept some shell forms.

Possible approaches:
1. Try to hack the current reader to accept those forms (this would be my favorite if possible).
2. Build the parse for command mode, then hand the forms in clojure code the built-in reader (probably a way to go).

Interesting inspiration might be Racket, since it is so flexible

[2017-12-12 02:32] mnewt commented on #17
Expect to see a PR from me adding multiline using parinfer. Parinfer elegantly solves multiline and paren balancing problems in an intuitive way. Hopefully it will solve #22 as well, we'll see.

I have it mostly working but there are a couple annoying sticking points because of node's I/O quirks so I'll send it as soon as I iron those out. Also, multiline breaks history in some situations so I'll

[2017-12-12 10:41] dundalek commented on #17
Very cool! My instinct for the history is that one starts with up/down keys to cycle history. Then once you accept the line or maybe move with right arrow then up/down keys move the cursor within lines.

[2017-12-12 12:59] #11 closed

[2017-12-15 10:56] dundalek opened #40 "Completion V2"
Current tab-completion is a proof of concept. It uses node readline implementation of completion which has some limitations. I would like to address these by doing custom completion rendering. This will come later when we start on custom rendering and interactivity with escape sequences.

Limitations which will be addressed:
- show only the last part of the completion (node readline which shows th

[2017-12-18 09:42] #8 closed

[2017-12-18 09:42] #39 closed

[2017-12-18 09:44] #10 closed

[2017-12-19 20:51] mnewt commented on #17
@dundalek As you and I discussed, node/readline is very OO and mutates state all over the place. It's really hard to use with a state map and while implementing the multi-line features I'm seeing cases where a single key press changes the terminal 2 or 3 times, maybe more.

Also, readline is really not set up for multi-line input and I'm looking at some pretty weird and fragile monkey patches to g

[2017-12-20 00:10] dundalek commented on #17
I agree, replacing node/readline is inevitable. Makes sense to reuse where possible and explore terminal-kit. Also when rebuilding from ground up it also makes sense to think about how we would let users customize keybindings. I am not too familiar with Emacs, but I think its Buffer implementation might be a good source of inspiration (I have it on my list to explore it more).

[2017-12-20 02:07] mnewt commented on #17
Great, I’m glad you agree. I’ll start working on it. I see key bindings as being its own subsection of the readline module, and I think something like the reverse of the key-value function will work.

I’m fairly familiar with emacs as a user but not really deeper than that and I don’t know anything about the buffer implementation. But I’ll check it out. I think there’s lots to learn from it. Its s

[2017-12-27 21:21] dundalek opened #42 "Reconsider closh and lumo distribution"
As I am working on the signal handling I've been running into an issue that lumo installed via npm does not start directly but inside a js script running in node which spawns the lumo child process. Therefore pressing ctrl+c interrupts the parent process and pipe to the lumo process gets closed and closh errors out and exits.

To solve the issue we could do native exec to replace the process (usin

[2018-01-23 02:48] arichiardi commented on #42
Regarding 3, there is a very nice [PR](https://github.com/anmonteiro/lumo/pull/315) by @hlolli that makes packaging possible.

[2018-01-23 02:54] arichiardi commented on #22
Abit off topic but just wanted to mention that probably `inf-clojure` already does a good job with syntax highlighting and basic integration would be really easy to do.

The basic operations the "REPL" needs to provide are `doc`, `apropos`, ... Lumo already has them. Add faces for `closh`'s few custom operators and that is it.  A `closh-mode` would really be just a few lines of elisp IMHO.

[2018-01-23 03:34] mnewt commented on #22
@arichiardi I agree that a `closh-mode` is desirable and should be pretty easy, as it would be a tiny wrapper on `inf-clojure`. I'm using `inf-clojure` to hack on `closh` and it's great! I'm currently dropping to a terminal to test it end-to-end though. Would be great to keep it all in emacs. I may take a crack at it when I have the time.

[2018-01-23 03:52] arichiardi commented on #22
Awesome!

[2018-01-31 22:53] jbsiddall opened #46 "can't install on osx"
When attempting to install closh i get the following error:

[code]

OS: MacOS Sierra 10.12.6
Node: v9.4.0
NPM: 5.6.0

Node & NPM installed via pkg file from https://nodejs.org/en/
I've tried reinstalling Node/NPM multiple times and get the same problem.

[2018-02-01 04:47] mnewt commented on #46
This looks like a problem running the lumo `npm_install.js` script. Can you post the debug log somewhere? Not sure if it has information in it that you may consider sensitive.

[2018-02-01 18:12] mnewt opened #47 "Search command history (`Ctrl-R`)"
I think it should work like [fzf](https://github.com/junegunn/fzf). See also the `fish` key bindings: https://github.com/fisherman/fzf

[2018-02-02 15:29] dundalek commented on #47
Can you elaborate a bit more what you mean? Would this be solved once we add support for custom key bindings (then users could bind keys to use `fzf` directly)?

[2018-02-02 15:32] dundalek commented on #42
Thanks @arichiardi, I was not aware of this, it may be useful. I will take a look into it.

[2018-02-02 17:35] mnewt commented on #47
That's a good question. Maybe some of both?

I was thinking the basic progressive search functionality would be good to incorporate into `closh`. But key bindings should allow for incorporating `fzf` using various shortcuts just like `fish`.

[2018-02-02 17:37] mnewt commented on #47
`fzf` has an interesting take on a completion mechanism that is an alternative to the more typical list that drops down from the cursor position. I think both may have their uses.

[2018-02-03 22:32] neominik opened #48 "History file is not created"
For me the `~/.closh/closh.sqlite` file for the history is not created. There is neither a folder nor the file during or after execution of closh.
No error is printed either. It just doesn't happen.

Tested on macOS and Arch Linux. Installed via `nmp install -g lumo-cljs closh`

Any suggestions on how to debug this?

[2018-02-04 07:13] mnewt commented on #48
The history feature isn't in the `0.1.3` release. To get it right now, you need to run from source:
[code]

I'm not sure when @dundalek is thinking of pushing another release to npm but there are a lot of features in development right now so it might be a little while.

[2018-02-04 17:46] dundalek commented on #48
You can also install the version from master with `npm install -g lumo-cljs dundalek/closh`. I would like to push a new release soon, remaining features I need to complete are #12 and #42.

I also added changelog section in README which should indicate better which features are not yet released.

[2018-02-06 16:13] urzds opened #49 "`closh` starts Lumo after installation to $HOME"
I installed Closh like this:
[code]

Afterwards, executing `closh` drops me into a Lumo REPL instead of Closh:
[code]

The generated file `$HOME/node_modules/.bin/closh` does not appear to be terribly wrong:
[code]

[2018-02-07 00:44] dundalek commented on #49
It is strange that you end up running Lumo `1.0` when the latest version is `1.8.0-beta`. Maybe you have some previously installed version that shadows the recent one? What does the command `which lumo` show you?

[2018-02-07 08:19] neominik commented on #48
Okay I will close this issue since I was obviously using the wrong version.
Building from source as well as running the development version do however not work for me at the moment.

[2018-02-07 08:19] #48 closed

[2018-02-07 08:22] neominik opened #50 "Absolute path to lumo source prevents successful build"
https://github.com/dundalek/closh/blob/86969085e44157b216cb821acd6de501a2c86039/project.clj#L48

Isn't there a way to have lumo as a regular dependency?

[2018-02-07 09:43] ghost commented on #49
That points to `$HOME/.local/bin/lumo`. After deleting that file, I end up in a shell as expected. Thanks for the hint!

[2018-02-07 09:43] #49 closed

[2018-02-07 10:05] dundalek commented on #50
I am working on it, I would like to have a build process to distribute closh as a single library, which should solve most of installation troubles: https://github.com/dundalek/closh/issues/42

[2018-02-11 21:06] mnewt commented on #12
@dundalek Have you started on this yet? If not, I can tackle it

[2018-02-11 22:45] dundalek commented on #12
I do work on it, I have an work in progress branch here: https://github.com/dundalek/closh/tree/feature/custom-commands-aliases

[2018-02-22 06:02] alekseysotnikov opened #51 "Does not work"
I am zero in Node JS. Could someone advice me what need to od to fix it?
[code]
[code]
[code]

[2018-02-22 14:58] dundalek commented on #51
I don't run Mac so I am not able to test it. Maybe installing node using [nvm](https://github.com/creationix/nvm) might help.

I am working on an alternative build process (see #42) which means that installing would be just downloading a single file, which should prevent these kind of issues in the future.

[2018-02-22 15:58] borkdude commented on #51
It worked before on my Mac, but I get the same error after doing `npm install -g lumo-cljs closh`.

[2018-02-22 16:08] borkdude commented on #51
@alekseysotnikov FWIW, I messed around with `brew unlink node && brew link node` a bit and then it worked again.

[2018-02-22 18:07] domparry commented on #51
Same problem here on a mac... Sad, because I'm really keen to use closh!

[2018-02-22 18:17] borkdude commented on #51
Here's the transcript of what I did to make it work.

[code]

[2018-02-22 18:25] domparry commented on #51
Ok. I seem to have something else wrong:

[code]

[2018-02-22 18:29] domparry commented on #51
OK. Mine is solved. I was attempting to install dundalek/closh version to get tab completion... installing just closh works...

[2018-02-22 18:52] mnewt opened #52 "`closh.sh` doesn't work on macOS"
`closh.sh` uses two features that just about every Unix-like has, but not macOS:
* `realpath`
* `readlink -f`

[code]

The solution needs to do the same thing with only POSIX tools. A refactor shouldn't be too terrible although it might be harder to cover edge cases. While we're at it, a test or two would probably be good.

I'll send a pull request when I get the chance.

[2018-02-22 18:54] mnewt commented on #51
@domparry That's a different issue. I just created #52 to track that.

[2018-02-22 19:07] domparry commented on #52
Thank you!

[2018-02-22 19:14] dundalek commented on #52
Using a shell bootstrapping is an intermediate hack before I am able to compile closh as a single binary. After that it will no longer be needed. So if it is easy, it would be nice so that the latest version runs for people on Mac. Thanks @mnewt

[2018-02-22 19:18] dundalek commented on #42
Sharing my progress: I was able to package a sample lumo project into a single executable thanks to [pkg-lumo](https://github.com/hlolli/pkg-lumo) which uses [nexe](https://github.com/nexe/nexe) (as does lumo itself). Unfortunately closh uses some native modules which are supported only in latest version of nexe.

So my next steps towards this will be:
1) Rebase Antonio's nexe patches on top of ne

[2018-02-22 19:22] mnewt commented on #42
Nice! Bleeding edge technology :)

[2018-02-22 19:41] hlolli commented on #42
@dundalek I never understood why you need the nexe master, as far as I see, they changed to typescript and much of their api is totally different since Anton branched his fork, not to mention changes Anton did himself on the fork.

To make this kind of patching easier in the future, I plan to implement overrides as you can do in shadow-cljs, this should be easy to implement (basically telling pkg-

[2018-02-22 19:55] dundalek commented on #42
@hlolli It seemed to me those native modules only worked in nexe master (as I read through nexe's issues). But I will give it a shot again. If it would work with lumo and pkg-lumo's version that would be the simplest.

[2018-02-22 19:57] mnewt commented on #52
Ok, was going to ask about this. I’ll hold off if you think the nexe packaging will work. It’s not too much work but the more crude posix tools make more potential edge cases which need to be handled.

[2018-02-22 20:04] hlolli commented on #42
Yes, but if you look at how they support native modules
https://github.com/nexe/nexe/blob/02481f069c9462f6e0571974f603210a2578fe51/src/bundling/embed-node.ts#L34-L38
then they do what you can do yourself, just spit the file onto the disk. Their solution is very bad if you have binary say in /usr/bin with sudo access, then useing their automatic spitting is going to be problematic. The solution for

[2018-02-22 20:11] hlolli commented on #42
And as you can see in my demo, you can slurp the resource file contents from the binary like this
https://github.com/hlolli/lumo-quiz-game/blob/master/src/lumo_quiz_game/main.cljs#L31-L36
`[lumo.io :as io]` had some powers to read and convert the base64 data to string which is bundled from within the binary, don't have it on top of my head where exacly those powers are hidden :)

[2018-02-22 20:39] dundalek commented on #42
I was thinking about the solution to spit the .node files into a dot directory in home as you say anyway. And I can patch the module's js files to look in the right location, so I see no problem there.

Thanks, that's a great idea to include and spit those files manually, therefore current lumo's version of nexe can be used. I am going to try that. :+1:

As for config, the usual way is to pass an

[2018-02-25 16:20] dundalek commented on #12
This is now ready in master branch.

[2018-02-25 16:20] #12 closed

[2018-03-03 22:58] dundalek opened #54 "Windows support"
There is a trouble running a startup script on Windows. In order to make closh on Windows I imagine two ways could work:

1) Create a .bat file to run closh and use a package manager like [Chocolatey](https://chocolatey.org/) or [Scoop](http://scoop.sh/).
2) Keep using npm for and try out cygwin to make the bootstrap shell script work.

If anyone uses Windows please give it a shot. Any help is app

[2018-03-03 23:11] dundalek commented on #52
@mnewt I tried to move forward on the single binary build, but I finally give up. I keep running into a non-ending stream of issues. So I will wait for this until the ecosystem matures a bit or another opportunity presents itself. For example there have been some developments on the clj CLI tool recently which may end up being useful.

In the mean time I will proclaim Windows non-supported with a

[2018-03-03 23:22] dundalek opened #55 "REPL server"
Add some REPL server support so we can have closh backend and connect to it with different frontend readline implementations like [omnia](https://github.com/AvramRobert/omnia) or [rebel-readline](https://github.com/bhauman/rebel-readline).

It would be also cool to explore possibility to run REPL via `clj` CLI tool.

[2018-03-04 02:15] mnewt commented on #55
This is not a difficult feature to add and would be very useful.

I propose that it work exactly like lumo. Copy pasting the relevant lines from `lumo -h`:

    -d, --dumb-terminal          Disable line editing / VT100 terminal
                                 control
    -n opts, --socket-repl x     Enable a socket REPL where x is port, IP:port
                                 or JSON of the foll

[2018-03-04 21:34] mnewt commented on #54
For option 1, probably would need to think about Windows differences such as:

* backslashes everywhere
* PATH with ; instead of :
* lack of pty
* differences in i/o redirection

[2018-03-04 21:56] mnewt commented on #52
Fixed in commit cde9406

[2018-03-04 21:56] #52 closed

[2018-03-04 23:30] mnewt commented on #42
@dundalek I was thinking about playing around with this a little. There are so many ways to do it, maybe I'll stumble on one that works. Were you able to compile closh to js?

[2018-03-04 23:47] mnewt commented on #20
Docs are looking good!

[2018-03-04 23:47] #20 closed

[2018-03-05 10:16] mnewt opened #58 "Get existing aliases, abbreviations, and commands"
You can find these out with, for example, `(prn closh.core/*closh-aliases*)` and `(closh.core/expand-alias)` but there should be a more user-friendly way to access them.

@dundalek What do you think? Add an `alias` or `getalias` command (and corresponding commands for abbreviations and commands)?

[2018-03-05 15:13] dundalek commented on #42
@mnewt My last progress is in this branch: https://github.com/dundalek/closh/tree/feature/build

It works by including native modules as resources in nexe compilation and spitting them on the disk where they can be loaded with `process.dlopen` (I forked deasync and sqlite so that look in the right location).

However there are two problems with it:
1) the bundled native modules are corrupted and I

[2018-03-05 15:15] dundalek commented on #58
Is there some particular use case you have in mind?

[2018-03-05 15:22] hlolli commented on #42
@Jakub are you useing node v8.5.0 ? Could be that the .node is compiled on
your computer locally with different node version. Been too busy to update
to lumo-1.8.0 with node 9.2.0, but I'll do it soon.

The glob missing is mysterious... :/ should try to analyze what's in the
node_modules directory that's bundled (it's copied to target/node_modules
during bundling in index.js)

On 5 March 2018 at 1

[2018-03-05 15:46] mnewt commented on #58
Working at the command line: Enumerating them and getting their contents

[2018-03-05 17:12] dundalek commented on #42
@hlolli I disabled the require patch otherwise I had other compilation errors. I hoped rollup would bundle all the js files together.

[2018-03-05 17:49] hlolli commented on #42
yup, useing rollup to bundle all the js files sounds like a better solution

On 5 March 2018 at 18:12, Jakub Dundalek <notifications@github.com> wrote:

[2018-03-05 17:54] domparry opened #59 "Still experiencing issues on macOS"
I've tried to re-install with the new master after the fix in issue 52, but I'm still getting errors when trying to run closh:

[code]

[2018-03-05 20:05] mnewt commented on #59
It seems the `tmp` npm module isn't installed. Are you sure `npm install` ran successfully?

[2018-03-06 04:35] arichiardi commented on #42
Or you can use lumo as compiler to bundle its bundler :smile:

Likes apart I am really happy this train has left. If you folks come up with a better way to package lumo itself (I have been longing for `boot`'s fileset caching for instance), please ping me ok?

[2018-03-06 19:51] domparry commented on #59
OK. I have solved this. Something must have gone wacky with the deps. I deleted the node_modules folder from the closh installation path, and re-installed.

[2018-03-06 19:51] #59 closed

[2018-03-07 17:20] dundalek commented on #42
@arichiardi I pretty much give up on this at this moment. There are just so many issues that I keep bumping into. I will wait on this and hopefully someone smarter than me can figure something out. I wonder whether upgrading to latest nexe would help, since it seems they fixed many issues since 1.x. But lumo has its own fork of nexe, so things are getting complicated and over my head.

[2018-03-08 15:07] dundalek opened #60 "Add E2E tests"
Currently we test by either calling eval directly or spawning a special helper process.

It would be good to add tests that spawn the closh itself and send commands via stdin. This would also allow us to test UI interaction (e.g. history search).

There might be some trickiness to figure out to wait for the process to start and parsing out the prompt.

[2018-03-08 15:09] dundalek commented on #55
@mnewt I imagine eventually we might need some structured protocol like nREPL/prepl but socket repl is a good start. I didn't start working on this so it is up for grabs.

[2018-03-08 15:37] mnewt commented on #55
OK, I'll work on it. I think socket repl is the standard for clojurescript for now. I think we should just implement that and worry about others once the clojurescript repl world stabilizes a bit.

I'm not aware of a clojurescript nREPL implementation. Is there one? prepl is interesting but still in development, and it will be interesting to see how the community uses it compared to unrepl.

[2018-03-08 15:49] arichiardi commented on #55
Just a thought, is the idea to just launch lumo's socket repl? I think that it would be awesome to share implementation so that code would not be duplicated. Lumo accepts a function to it if you need to pre-parse the payloads.

[2018-03-08 16:11] mnewt commented on #55
@arichiardi I hope to do something like that. In keeping with the rest of closh, I would expect that we would re-use as much of lumo's socket repl code as possible. I looked over lumo's source and it seems straightforward but I don't know the exact entry point and haven't tried to implement it yet.

[2018-03-08 16:12] dundalek commented on #55
@arichiardi I haven't looked how lumo does it but if its true that your can pass a pre-process function to lumo and then launch it, that sounds like the simplest solution.

@mnewt You are right on both points, I don't know of a nREPL implementation in cljs either. It is doable but probably not the best investment of time. And I haven't been able to find any detailed description of prepl so I have

[2018-03-08 16:29] arichiardi commented on #55
So there is nRepl middleware but is Clojure specific.. it works for cljs but of course in very reduced fashion.

The main thing I would like to port to lumo is actually https://github.com/anmonteiro/lumo/issues/370.

That makes sense to me as first step.

[2018-03-09 16:02] mnewt commented on #55
@arichiardi Is [`lumo.socketRepl.open()`](https://github.com/anmonteiro/lumo/blob/571375919a50c06c489435df8014477382675e42/src/js/socketRepl.js#L79) the entry point you had in mind?

I'm having trouble understanding how to load/call lumo's javascript modules from clojurescript (from inside lumo). Is the only way to first compile lumo to js and then require it? Can you give me any pointers?

[2018-03-09 16:06] arichiardi commented on #55
Yes you got it right.

I was more thinking though that you can pass an accept function with the `-n` parameter on the command line. Do you have a requirement to call the js function?

[2018-03-09 16:06] arichiardi commented on #55
This param:  https://github.com/anmonteiro/lumo/blob/master/src/js/cli.js#L92

Sorry line was missing

[2018-03-09 19:24] dundalek opened #61 "Reader macros"
This is an idea for some further time in future, but it may be cool to support reader macros somehow.

For example current single quoting functionality has a trade-off to be consistent with Clojure but it will fail to interpret common snippets from the internet. An example (brought by @eriktjacobsen in Gitter):

[code]

If we had reader macros then user could fine tune these trade-offs to their pr

[2018-03-09 20:09] eriktjacobsen commented on #61
Other things that fail with same message:
[code]
[code]
[code]

[2018-03-10 13:19] dundalek opened #62 "File redirection issues"
File redirection seems to be broken when using functional pipes, e.g.:

[code]

[2018-03-10 13:22] dundalek opened #63 "History DB initialization race condition"
When typing and pressing enter while closh is starting there is a Cannot save history error because db is not yet initialized.

We should probably use a promise and queue the operations until the db is initialized.

[2018-03-10 13:23] dundalek opened #64 "Do not print last result when there is an exception"
Repro case:

[code]

[2018-03-10 13:33] dundalek opened #65 "Explore running with clj tool"
It should be possible to make closh run via the `clj` tool with `cljs.main` and node as eval target.

[2018-03-28 18:24] NightMachinary opened #66 "[QUESTION] Why Clojurescript and not JVM?"
Why Clojurescript and not JVM?

[2018-03-28 19:11] NightMachinary opened #67 "[BUG] Multiline commands are not supported"
Just paste this snippet and you'll see:
[code]
When I make it into one-line commands, the error is gone:
[code]

[2018-03-28 19:20] NightMachinery commented on #22
@dundalek Lispyville works great with Spacemacs! And who says it doesn't support Parinfer? :D
[Parinfer layer](http://develop.spacemacs.org/layers/+misc/parinfer/README.html)
;))

[2018-03-28 20:45] NightMachinary opened #68 "[BUG] powerline-shell prompt eats stdout"
As you see, the prompt is eating a line from stdout:
![image](https://user-images.githubusercontent.com/36224762/38055297-8b0a146e-32ee-11e8-9016-43993515778f.png)

`upper -u | cat`

My .powerline-shell.json:
[code]

[2018-03-28 20:48] NightMachinary opened #69 "[QUESTION] How to use conda?"
[Conda](https://anaconda.org/) uses a .sh script to start itself up, and running that script via `source-shell` does no good.

[code]

[2018-03-29 13:12] dundalek commented on #68
What is this `upper` command?

[2018-03-29 13:20] dundalek commented on #22
@NightMachinary You are right, it does support in the develop branch. However, it requires `emacs26` but my distro has only `emacs24`. I would have to sideload it or upgrade my OS, which I am not ready to do yet. So from my perspective the support is not yet there :)

[2018-03-29 13:27] dundalek commented on #66
I come from js and node background so it is easier for me to hack on. Plus lumo is awesome and it does a lot of heavy-lifting. Basically when I saw lumo I got the idea I could just hack the REPL a bit and got the prototype working.

I think with the new `clj` tool and `clj.main` Clojure proper gets more hackable too. It would be a cool exercise to abstract the code and implement platform specific

[2018-03-29 13:33] dundalek commented on #69
I am not familiar with conda, but from the docs you posted it seems that the result of the `conda activate` is the thing that needs to be sourced. So this might do the trick:

[code]

[2018-03-29 13:37] dundalek commented on #67
Yeah, multiline input is not yet supported. See more in https://github.com/dundalek/closh/issues/17. I am closing this issue as duplicate.

[2018-03-29 13:37] #67 closed

[2018-03-29 18:24] NightMachinery commented on #68
It's just the example from the docs, converts a string to uppercase. I can
see that it works before the new prompt shows itself.

On Thu, Mar 29, 2018 at 5:42 PM, Jakub Dundalek <notifications@github.com>
wrote:

[2018-03-29 18:25] NightMachinery commented on #68
@dundalek
[code]

[2018-03-29 18:27] NightMachinery commented on #22
You can easily sideload it using Linuxbrew! `brew install emacs-plus --HEAD` would install version 27.

On Thu, Mar 29, 2018 at 5:50 PM, Jakub Dundalek <notifications@github.com>
wrote:

[2018-03-29 18:28] NightMachinery commented on #66
That'd be awesome! JVM Clojure is both faster, more stable, more secure,
and has a lot more libraries! 👍🏻

On Thu, Mar 29, 2018 at 5:57 PM, Jakub Dundalek <notifications@github.com>
wrote:

[2018-03-29 18:31] NightMachinery commented on #69
Unfortunately it doesn't work, it uses custom bash functions it seems ...
It'd be good to add automatic bash-to-closh script conversion to the
roadmap?

On Thu, Mar 29, 2018 at 6:03 PM, Jakub Dundalek <notifications@github.com>
wrote:

[2018-03-29 18:40] dundalek commented on #69
I see, I overlooked some details. Maybe try:
[code]

[2018-03-29 18:48] dundalek commented on #68
I see, it is indeed a bug. However, it is not caused by powerline, it is just a bug in the pipeline implementation. I will look into it when I have some more time.

[2018-04-14 11:09] dundalek commented on #68
After some digging it really seems to be caused by a combination of readline+powerline. If the last line of the output does not end with newline, the prompt gets placed on the same line, therefore "eating" the line. The simplest case to reproduce is `echo -n x`. The bug does not happen with the default plain prompt.

[2018-04-14 11:22] dundalek opened #70 "cd does not return success value"
Therefore in `cd && echo x` the echo command does not get executed. We could return true on the successful change dir, but then simple `cd` would print to the output.

[2018-04-14 11:25] dundalek commented on #69
@NightMachinary Were you able to run conda with those last commands?

[2018-04-14 12:25] NightMachinery commented on #69
No, it returns errors:

On Sat, Apr 14, 2018 at 3:55 PM, Jakub Dundalek <notifications@github.com>
wrote:

[2018-04-14 12:45] #63 closed

[2018-04-15 10:22] dundalek commented on #62
A workaround is to add a `cat` command and then redirect:
[code]

[2018-04-15 12:08] dundalek opened #71 "Prompt gets printed when terminal window is resized"
When running a long running process and resizing the terminal window, closh prompt gets print mixing with the process output. This is likely bug in the readline implementation. It should be solved with the new readline implementation.

[2018-04-15 12:09] dundalek commented on #69
Could you provide the error output?

[2018-04-15 14:23] NightMachinery commented on #69
@dundalek Oh, I had included an image of the error but it was lost during the mail to github conversion it seems. Here you go:
![image](https://user-images.githubusercontent.com/36224762/38779475-34d200e0-40de-11e8-83a9-d64995138b5e.png)

[2018-04-15 15:11] dundalek commented on #69
@NightMachinary I just tried conda in a VM, and I think I got it now:
[code]
Thanks for your patience.

[2018-04-16 09:41] NightMachinery commented on #69
Thanks! This seems to work properly.

On Sun, Apr 15, 2018 at 7:41 PM, Jakub Dundalek <notifications@github.com>
wrote:

[2018-04-16 18:59] dundalek commented on #69
Cool!

[2018-04-16 20:23] dundalek commented on #6
Closing this as the initial tab completion has been implemented. Further improvements are tracked in: https://github.com/dundalek/closh/issues/40

[2018-04-16 20:27] dundalek commented on #7
Aliases are implemented now, so you can put following into your `~/.closhrc`:
[code]

Which gives you output like this:
![image](https://user-images.githubusercontent.com/755611/38833233-79594468-41b4-11e8-8fa8-01dffa305e69.png)

[2018-04-16 20:27] #7 closed

[2018-04-16 20:27] dundalek commented on #30
Implemented and released in `0.2.0`.

[2018-04-16 20:27] #30 closed

[2018-04-16 20:31] dundalek commented on #51
This should not happen anymore, please open a new issue if another installation error appears.

[2018-04-17 13:37] lenw commented on #7
Thanks :+1:

[2018-04-25 22:27] mauricioszabo opened #72 "Autocomplete for alias, commands, abbreviations?"
As the title says, it would be great if autocomplete would complete abbreviations, aliases, etc when pressing tab.

[2018-04-26 08:16] dundalek commented on #72
Great idea, thanks! I will add that. If you have more like these then keep them coming!

I will probably also add a feature to add user defined completion function as well.

[2018-04-27 14:26] mauricioszabo opened #73 "Confusing interpretation of shell vs ClojureScript"
Sometimes, the interpretation of which should we run becomes confused. For instance:

[code]

I can see only two possibilities here: first, to force `sh-str` and friends to receive Clojure structures- we would, of course, be forced to write `(sh-str ls "/my/dir")` all the time, but it would probably be less confusing - or we could implement a `#clj` reader macro (no idea on how to do it with in Cl

[2018-04-27 18:49] dundalek commented on #73
Good question, `sh-str` is actually a *macro* so the behavior you posted is expected. You don't need to quote `ls` but then you get `temp` as a symbol. To fit better into examples you provided we could create a helper *function*. To list the contents of `/tmp` you could run (you will get value of `temp` but you need to quote `ls`):

[code]

You can put this to your `~/.closhrc` to get the behavior

[2018-04-27 20:18] mauricioszabo commented on #73
Yes, it does seems.

Normally, in Clojure-land, macros call functions with `*` appended, so the canonical way would be to call it `sh-str*`, but I too am not too confident about the code...

[2018-05-08 18:58] mauricioszabo commented on #50
Can we add a submodule instead, so we'll be able to build `closh`? Probably, cloning a project from `master` branch and trying to build it locally, just to have an error would prevent more people from trying to help...

[2018-05-14 19:00] dundalek commented on #50
Lumo is being pulled as an npm dependency now so this no longer applies.

[2018-05-15 19:33] johanatan opened #74 "Fails to install sqlite@3.1.13"
[code]

[2018-05-15 21:10] johanatan commented on #74
Note, this was on Node v10.

I used `nvm` to switch to Node v9.11.1 and it works fine. Thx!

[2018-05-15 23:03] dundalek commented on #74
Cool thanks, good to know it works.

[2018-05-15 23:03] #74 closed

[2018-05-16 18:17] johanatan commented on #17
Any progress on this?

[2018-05-16 20:25] dundalek commented on #17
I plan to port closh to run on JVM and then we can use [rebel-readline](https://github.com/bhauman/rebel-readline) which would give us multiline support and other cool features. This may take some time though. But I expect by the end of this year would be a reasonable timeframe.

[2018-05-16 21:37] mnewt commented on #17
Great! I have also worked some on creating a standalone library that would handle terminal presentation and interaction in a reagent-like way. I actually have the basics complete but have not had time to add all the features closh would need. Don’t hold your breath on it but I hope to have something to show eventually. Haven’t had much time to work on it and I don’t really anticipate having a lot

[2018-05-16 22:29] johanatan commented on #17
@mnewt have you seen: https://github.com/vadimdemedes/ink ?

perhaps wrapping this for reagent would be trivial?

[2018-05-16 23:25] mnewt commented on #17
@johanatan I've seen it, thanks. It's a really cool project. But in my opinion it's not quite the right direction because it's pulling a bunch of libraries in that have no discernible value on the terminal (most of reagent and react really assume you have html and a browser DOM). More immediately though, my proof of concept code is more geared toward a non-full screen app and has cursor support (h

[2018-05-17 00:52] johanatan opened #75 "Referring to def'd var blows up program"
repro.cljs
========
[code]

repro.sh
=======
[code]

Running `repro.sh` blows up on the `rm -f (str target-name)` line. Any reference to `target-name` or to `(getenv "JAR")` there will cause the same blowup.

Also a simple `ls` after a reference to either `target-name` or `(getenv "JAR")` will cause the same.

The program exits with a success code of 0 (and the lines after blow up do not execute).

[2018-05-17 18:38] johanatan commented on #75
Related: https://github.com/dundalek/closh/issues/2

[2018-05-17 18:38] johanatan commented on #75
Here is a workaround:

jclosh.sh
=======
[code]

Use it like so:
[code]

[2018-05-20 00:07] johanatan commented on #17
Here's a workaround that takes multiline input and produces single-line per sexp output:

[code]

For mixing bash and s-exprs, one needs to just join together any string of lines not beginning in `(` with the next subsequent s-expr. [I intend to stick to s-exprs so no need for this].

[2018-05-20 00:08] johanatan commented on #17
Also, I'm working with files so no need to read from stdin. Should be easy to modify to read from stdin rather than from file for interactive shell.

[2018-05-28 18:58] dundalek opened #77 "Tab-completion evals input"
Typing something in closh like `$(touch /tmp/test)` and pressing tab for completion will result in that code being executed (!).

It seems to affect completions for all shells: bash, zsh and even fish.

Kudos to @TGThorax

[2018-05-28 19:02] dundalek opened #78 "Tab-completion errors out on certain input"
When typing out `(slurp ` (note there is a trailing space at the end) and hitting tab triggers completion error:

[code]

Kudos to @TGThorax.

[2018-05-28 19:32] dundalek commented on #77
A response from fish-shell gitter:

Can it be abused for some attacks?

So I am wondering whether this even needs fixing and have currently no idea what the fix would be.

[2018-05-28 20:45] dundalek commented on #75
Thanks for the repro. Could you explain what is the principle behind the workaround? It seems it feeds the input via fifo pipe. What is the difference from the plain file redirection?

[2018-05-28 21:17] johanatan commented on #75
Line-by-line rather than all at once. I have no idea why this would matter but it does.

[2018-05-29 13:25] batarian71 opened #79 "Logo Design"
Hi, Can I design a minimalist logo for Closh? Also, I can design something you want. What do you think?

[2018-05-29 14:19] dundalek commented on #79
Hi, that would be neat and appreciated!

For starters I imagine a sea shell stylized with blue and green (like clojure or clojurescript logo) might look cool. But I would be happy to consider anything if you have already something in mind.

[2018-05-29 19:56] batarian71 commented on #79
There are several different options. Which do you like?

![closh](https://user-images.githubusercontent.com/36008612/40682027-72dfc84a-6393-11e8-886d-4c9e77573073.jpg)

[2018-05-29 23:45] TGThorax commented on #77
I wouldn't say this can be used for attacks, and it doesn't seem like that big of a problem. The only way this might be harmful is that it is confusing and mostly unexpected.

Some tests I did in closh/bash/fish (not zsh):
1. `echo $(touch /tmp/test1)` -- closh through bash completion
1. ``echo `touch /tmp/test2` `` -- closh through bash completion
1. `echo (touch /tmp/test3)` -- none (this is com

[2018-05-30 09:53] dundalek commented on #79
Thanks, I think the circle looks kinda generic, I would maybe try to drop it.

I sketched out some variants that I think might look cool:

![img_20180530_114354](https://user-images.githubusercontent.com/755611/40713313-2df3ea5c-63ef-11e8-83e4-17bd2413ea41.jpg)

[2018-05-31 01:16] batarian71 commented on #79
I designed it the way you want. I also added my own design. Which do you like?

![closh](https://user-images.githubusercontent.com/36008612/40755925-525df9ba-6489-11e8-8ac6-12708517df3e.jpg)

[2018-05-31 19:10] dundalek commented on #79
Cool, I actually like yours at the bottom the most.

I think there might be still some room for simplification. It feels slightly noisy with so many lines. But I am not sure, maybe it's just a feeling.

I am quite happy with this iteration.

[2018-05-31 20:17] batarian71 commented on #79
I customized the logo. Which one do you prefer ?

![closh 1](https://user-images.githubusercontent.com/36008612/40806000-c8444e8c-6528-11e8-9671-562cf7ad4d72.jpg)

[2018-06-04 08:20] dundalek commented on #79
Hmm, I think I like the previous version better.

[2018-06-04 12:31] batarian71 commented on #79
I will send you the logonun files you like as pr.

[2018-06-04 14:28] batarian71 commented on #79
I sent a pr. https://github.com/dundalek/closh/pull/80 could you check it?

[2018-06-05 22:09] dundalek commented on #79
PR with the logo merged in.

[2018-06-05 22:09] #79 closed

[2018-06-25 18:05] millettjon commented on #13
Something like [compleat](https://github.com/mbrubeck/compleat) but in clojure would be useful.

[2018-06-25 18:06] millettjon commented on #13
Could spec be used to generate completions?

[2018-06-25 20:09] dundalek commented on #13
Compleat looks neat, but it does not have a repository of completions so I don't see much value in integrating it.

I once played with using spec to parse argument for a CLI app and I think its doable. Once you have a spec it should be possible to write a completion generator for it. It's a kind of a long shot though.

[2018-06-28 13:47] glor opened #81 "closh start failes"
When I start closh, memory and CPU usage go up until all memory is taken and the program crashes
[code]

[2018-06-30 12:52] dundalek commented on #81
Hi, what OS are you running?

And what version of node and lumo do you have? You can find out by running `node -v` and `lumo -v`.

[2018-06-30 16:09] nivpgir opened #82 "installing closh failes"
installing closh fails.
i've traced it down to the sqlite3 dep failing, with this error:
https://github.com/Galooshi/import-js/issues/497

the fix seems to be to upgrade to sqlite3 v4, I don't know how complicated that will be for you,
but in either way, is there a workaround to this? I would like to start trying closh for the last few hours but couldn't pass the installation phase.

[2018-06-30 17:30] glor commented on #81
Oh sry. I should have thought about that
[code]
[code]
[code]
manjaro is nearly like arch linux

[2018-06-30 21:08] dundalek commented on #81
Could you try switching to node v9 and reinstalling closh? A convenient way to switch node versions is [nvm](https://github.com/creationix/nvm).

[2018-06-30 21:09] dundalek commented on #82
Could you try switching to node v9 and reinstalling closh? A convenient way to switch node versions is [nvm](https://github.com/creationix/nvm).

[2018-06-30 22:21] nivpgir commented on #82
yeah, OK, that works...

should I have seen that that's the version I should use?

[2018-07-01 09:25] dundalek commented on #82
It is in the readme with install instructions, but maybe it could be improved to make it more noticable?

[2018-07-02 20:39] nivpgir commented on #82
maybe add a dependency section?
this would be good just for the sake of being noob friendly.

either way you can probably close this issue, no?

[2018-07-04 08:36] teodorlu opened #83 "Closh fails to start due to missing sqlite files"
Hello!

I'm getting this error when I `$ closh`:

[code]

Output from installation:
[code]

Full output from execution:

[code]

Finally -- cool idea! First step to a Clojure-based Lisp machine?

[2018-07-04 20:14] dundalek commented on #83
Hi,

closh requires node version 9, it does not work with other versions. Please switch to node v9 and reinstalling closh. A convenient way to switch node versions is [nvm](https://github.com/creationix/nvm).

I added a version check to the install script, so it should be more obvious for the people in the future.

Yeah, Lisp machines rock!

[2018-07-04 20:14] #83 closed

[2018-07-04 20:15] dundalek commented on #82
I added a version check to the install script now, so it should be more obvious for the people in the future.

[2018-07-04 20:15] #82 closed

[2018-07-04 20:16] #81 closed

[2018-07-05 08:29] teodorlu commented on #83
Ah, I missed that part of the readme.

Best wishes onwards!

[2018-07-13 16:24] Quezion commented on #46
I found that I couldn't install Closh unless I ensured I had Node version 9.

[code]

It's a slight pain to get Node v9 -- I downloaded node-v9.11.2-darwin-x64.tar.gz  off of https://nodejs.org/download/release/v9.11.2/, unzipped it, and manually symlinked in the /bin/node executable.

(on OSX High Sierra v10.13.3)

[2018-07-30 17:32] dundalek commented on #46
These installation issues should be now fixed in the latest release (v0.2.2).

[2018-07-30 17:32] #46 closed

[2018-08-13 07:21] jcburley opened #85 "Unable to Install Standalone on Ubuntu 16.04"
I'm hitting errors I don't understand (as I'm very new to all this) following the main page's install instructions:

[code]

Note that I tried the non-**sudo** variation, as shown literally on the main page, as well as prefixing it with **sudo**, and they both failed (but for different reasons).

What am I doing wrong? Are the instructions perhaps outdated?

[2018-08-13 15:16] jcburley commented on #85
Exploring further, this appears to be an issue with lumo, not closh, as I cannot get just this to work:

[code]

(With or without sudo, though it fails in yet different ways....)

[2018-08-13 15:16] #85 closed

[2018-08-13 15:18] jcburley commented on #85
For those having a similar problem, following the instructions here:

https://github.com/anmonteiro/lumo

Turns out adding **--unsafe-perm** got it to install.

Had to do that for **sudo npm install -g closh --unsafe-perm** as well!

[2018-08-13 21:14] dundalek commented on #85
Thanks for reporting this and finding a solution. I updated the readme to include this.

[2018-08-14 13:15] jcburley commented on #2
I think that second example should read:

[code]

(I.e. transpose the space and "t" before "%".)

[2018-08-14 21:36] dundalek commented on #65
Done in the dev branch. The limitation is that `clj` uses `rlwrap` for the readline functionality. Therefore the way to move forward is to utilize `rebel-readline`.

[2018-08-14 21:36] #65 closed

[2018-08-14 21:39] arichiardi commented on #65
Pitching in -sorry out of context I know- for one thing only, you can use `clojure`, which is the script that does not use any `rlwrap`ing. Basically `rebel-readline` suggests to do the same in order to avoid conflicts.

[2018-08-14 21:45] dundalek commented on #65
Yeah exactly, that is the plan. Stay tuned :wink:

[2018-08-15 13:03] dundalek commented on #29
I just discovered [fish playground](https://rootnroll.com/d/fish-shell/) and contacted [Root&Roll](http://welcome.rootnroll.com/) folks to see if it would be possible to create a playground for closh too.

[2018-08-15 21:39] jcburley commented on #2
FWIW, I'm toying with the idea of re-implementing portions of my email-server (MTA) setup, currently a hacked version of **qmail**, in some variant of Clojure, and was looking to **closh** for fast script startup times (having investigated **ClojureC** earlier this year and been pointed to **ClojureScript** on **v8** generally by its author in a nice chat we had).

It's still unclear to me whether

[2018-08-16 08:37] dundalek commented on #2
Hi, if startup time is priority and you don't mind the compilation step then I can think of two options:

1) Write it in ClojureScript, then compile to JS and run it with vanilla node.js (which uses the V8 engine). That should be like an order of magnitute faster than lumo.
2) Write it in Clojure and then try to compile it into native executable with [Graal](https://www.astrecipes.net/blog/2018/07

[2018-08-26 18:02] dundalek opened #87 "Compilation of the Java version"
The goal is to compile closh into a single jar binary.

I have created a [pkg-java](https://github.com/dundalek/closh/tree/feature/pkg-java) branch which tries to use [cambada](https://github.com/luchiniatwork/cambada) for packaging.

I use a following command:
[code]
However, I get errors resolving some packages. It seems that maven repository for `org.sonatype.oss` is missing. I did google aroun

[2018-09-02 07:17] neominik commented on #66
JVM is faster, but has a lot slower startup time. Waiting 10 seconds for your shell to start up every time would be a no-go for me.
Otherwise I would also like to see a JVM version.

[2018-09-02 18:19] dundalek commented on #66
I am hoping that in the future it could be compiled to native code with Graal which should make the startup time be less than a second.

Anyway, the JVM port is in progress in the master branch. It is mostly done, there are just a few issues that need to be ironed out before a release.

[2018-09-05 15:23] jeroenvandijk commented on #85
I had the same issue plus a missing system library. I've documented my steps here https://github.com/anmonteiro/lumo/issues/414

[2018-09-06 10:26] jeroenvandijk commented on #2
Another idea to support scripting from a closh shell (to have fast boot time) is to have a command say `closh-script`. This command would be built from another command `eval-clj` [1]:

Unfortunately, evaluation in cljs is asynchronous and namespaces need to be required upfront I believe (see output [2]). I'm guessing though that this approach could work quite well for the Java version, as this tac

[2018-09-07 07:48] hoebat commented on #66
this is exciting. when will this be out?

[2018-09-08 15:44] dundalek commented on #66
I don't want to give any promises, but it will hopefully be done in a month or so.

[2018-09-18 15:00] dundalek commented on #87
I tried it also with [clj.native-image](https://github.com/taylorwood/clj.native-image) but it gives an error. There are some dynamic class loading issues:

[code]

[2018-09-21 12:52] jeroenvandijk commented on #87
@dundalek Not sure whether it's related, but I've discovered that the `clj` command doesn't support deps projects that still need to compile namespaces. You would have to compile it with something else (e.g. boot) and then add the `target` dir (or whatever you have configured to the `:paths` entry).

When I found out about this I discovered that boot is way more convenient to use with deps.edn, e.

[2018-09-21 13:13] jeroenvandijk commented on #87
Btw, @dundalek I would like to support the development of the JVM version, but not sure where I could be helpful exactly. Would some financial support from my company (maybe in the grand scheme of things just symbolic) be of interest to you?

[2018-09-27 20:53] dundalek commented on #66
Just FYI here are remaining issues that need to be completed for the JVM integration so that it can be released for `v0.3`:

- [x] Fix remaining failing unit tests regarding file redirection
- [x] Fix `cd`ing to non-existing directory which ends in infinite loop
- [x] Handle SIGINT properly
    - For example when a process runs (like `sleep 10`) and  `ctrl+c` is pressed then shell quits.
    - Mak

[2018-09-27 21:27] dundalek commented on #87
@jeroenvandijk Thanks for the support. I would love to eventually have some kind of sustainable patreon/opencollective funding so that I could allocate bigger chunk of my time to closh. But I feel the project is not popular enough so donations would be marginal at this point. So my plan is to work on some additional features I have in roadmap to generate some more excitement first.

To give better

[2018-09-27 21:28] dundalek commented on #87
Actually if you have time it would be cool to try to set up the build with `boot` as you suggested. I am more familiar with `lein` (which won't work since the deps integration does not support git hashes which are needed for the custom tools.reader). So I will likely spend time on other things first than getting more familiar with boot.

[2018-09-28 00:17] hoebat commented on #66
would it also be possible to have nrepl support?

[2018-09-28 11:43] dundalek commented on #66
@zcaudate What would be the use case for having nrepl?

[2018-09-28 12:37] hoebat commented on #66
@dundalek: I'd be looking at it as a replacement for lein

[2018-09-28 12:39] hoebat commented on #66
it'd be essentially like having both the shell and the repl in one.

[2018-09-28 20:01] dundalek commented on #66
@zcaudate I see, it should be possible to include nrepl middleware to start an nrepl server. Could you create a separate issue so we can track it there?

[2018-09-28 20:59] zcaudate opened #88 "include nrepl server + middleware"
as per #66

[2018-10-02 09:44] jeroenvandijk commented on #87
@dundalek Thanks for your reply. I'll look into building with `boot`. I'm just starting with `boot` as well, so this might take some time.

Regarding my use case for `closh`, my wish is to have all our company's AWS infrastructure use `closh` as main shell, and also use it as replacement for bash scripts. The amount of bash code we have, and therefore the required knowledge to work with it, is sca

[2018-10-04 15:30] dundalek opened #89 "Explore possibility to run via Planck"
Existing JVM and Lumo runtimes have a big footprint and relatively slow startup time.

[Planck](https://github.com/planck-repl/planck) would be interesting target for scripting because it is quite small (Linux binary is around 4 MB) and starts instantly.

[2018-10-08 12:31] jeroenvandijk commented on #87
I've tried boot here https://github.com/dundalek/closh/pull/90 . I think there is an aot problem with the forked reader (see the tracktrace in the issue)

[2018-10-08 22:35] dundalek commented on #87
Done, next release will include a downloadable uberjar :tada:

[2018-10-08 22:35] #87 closed

[2018-10-09 02:02] jcburley commented on #89
Tried out Planck just now, but it seems [Lumo](https://github.com/anmonteiro/lumo) is about **2x** faster (when starting) and uses about the same amount of VM, while [Joker](https://github.com/candid82/joker) (a Clojure interpreter written in Go) is roughly **4x** faster and uses substantially less VM, at least on my OSX laptop on Ubuntu 16.04 desktop machines.

Is there something I'm missing that

[2018-10-09 08:29] jeroenvandijk opened #91 "Warning for closh-prompt being overwritten"
Tiny issue (most likely), closh-prompt seems to be overwritten somewhere (huray for the jar version btw!)

<details>
  <summary>
    <p>
    WARNING: closh-prompt already refers to:     #'clojure.core/closh-prompt in namespace: user, being replaced by: #'user/closh-prompt
    </p>
    </summary>
    <p>

    ➜  bin git clone https://github.com/dundalek/closh.git
    Cloning into 'closh'...
    rem

[2018-10-09 08:35] jeroenvandijk opened #92 "Uberjar: some issue with auto-completion"
### Using the new uberjar

When I type "(if" and subsequenty press <tab> I get the exception below. CTR-c get's me out of this error state again
[code]

[2018-10-09 08:42] jeroenvandijk commented on #66
I think this can be closed as there is a JVM version now..?  🎉 #87

I'm already playing with it => #92

[2018-10-09 08:47] dundalek commented on #89
Joker looks pretty cool! I hope one day a more light-weight Clojure implementation with native executable support will appear. My favorite would probably be something written Rust, but C or Go might do as well. Or if Graal gets smart enough for self-hosted Clojure.

It would be cool to try to port Closh to Joker and gain the smaller footprint benefits. I haven't dug too deep into Joker but I am af

[2018-10-09 08:53] dundalek commented on #91
This warning should not appear anymore since the given var is declared as dynamic. Can you make sure to fetch the latest master and rebuild the uberjar? But it is totally possible I missed something.

[2018-10-09 08:57] dundalek commented on #92
Good catch, I totally forgot this might cause an issue. The thing is that shell completions are delegated to existing shells by calling wrapper scripts. So we need to bundle these into the uberjar as well and then somehow read them as resources.

[2018-10-09 09:12] jeroenvandijk commented on #91
I did it in a clean directory, so unless there is system-wide caching (which I'm unaware of), it should be ok. I'll have a look somewhere today to see if I can fix it

[2018-10-09 09:20] dundalek commented on #91
Aha, I think I know what the issue is now. Try dropping the `(ns user)` from `.closhrc`. There was a bug before which caused trouble without `ns` form, but now the config should be loaded in `user` ns by default.

[2018-10-09 09:27] jeroenvandijk opened #93 "Native Image: failing due to something with defineClass"
## Trying Graalvm on the Uberjar

[code]
Trying again with the flag:
[code]

This seems to work? No errors, however:

[code]

[2018-10-09 09:29] sundbp commented on #93
Tip: The graal folks are pretty responsive if you file issues (label them
SubstrateVM for the right person's attention).

I've had a lot of help with getting various clojure things through
native-image via issues.

On Tue, Oct 9, 2018 at 10:27 AM Jeroen van Dijk <notifications@github.com>
wrote:

[2018-10-09 09:35] dundalek commented on #93
This may already be [fixed](https://github.com/oracle/graal/issues/431). Not sure whether it is already released  or a building graal from source is still needed as the comment in the issue suggets.

[2018-10-09 09:47] jeroenvandijk commented on #91
Ah good memory! I forgot about my `~/.closhrc`. That fixed it

[2018-10-09 09:47] #91 closed

[2018-10-09 09:51] jeroenvandijk commented on #92
Ah cool. You can read files from the uberjar when you put things in `resources` (would have to test with boot-clj) and using `(slurp (clojure.java.io/resource "path-in-resources-dir"))`

[2018-10-09 09:53] jeroenvandijk commented on #93
I've downloaded the latest enterprise version on the download site of Oracle "GraalVM based on JDK8, preview for macOS (1.0.0 RC7)" [1]

[1] https://www.oracle.com/technetwork/oracle-labs/program-languages/downloads/index.html

[2018-10-09 10:08] dundalek commented on #91
Sweet!

[2018-10-09 10:17] jeroenvandijk opened #94 "Usage: exit codes, experience report"
(using the uberjar)

Ok so I've been trying to write some bash with some retry logic. I've failed, and now I'm trying to do this with `closh`

In this particular case I want to check if there is a server running on a particular port.

My first thought is to do something like:

[code]

This doesn't work as there is no `$?` or `*1` and `;` doesn't seem to be part of `closh`.

So after having a first

[2018-10-09 12:06] jeroenvandijk commented on #92
Ok this removes the problem:

[code]

For a permanent solution, we could have an installation step that copies the resource dir from the uberjar to the directory where the jar is located. I've tested this approach [1] and that would work in combination with `clojure.java.io/resource` and `slurp` etc

What do you think makes most sense?

[1] https://stackoverflow.com/questions/22363010/get-list-of-

[2018-10-09 13:43] jeroenvandijk opened #96 "Idea for script mode"
In #2 I had mentioned an option to use `eval` to support scripting mode. With cljs this is hard, now with jvm support this works.

So here we go, after evaluating this in `closh`:

[code]

I get errors like:
[code]
I don't have a clue yet how to evaluate stuff like this so I must be doing something weird. To be honest I don't know yet how to exactly use closh.. The script however does have an effe

[2018-10-09 13:55] jeroenvandijk commented on #96
To do the evaluation above properly and safe (assuming the evaluation can work properly), maybe something like a `pod` as in `boot` is necessary https://github.com/boot-clj/boot/wiki/Pods

[2018-10-09 14:47] jcburley commented on #89
Based on some performance analysis I did a couple of months ago, Go looked surprisingly good compared to C:

https://burleyarch.com/2018/09/08/performance-of-lispzerogo-vs-lispzero-c/

I haven't looked into Rust yet, but the above exercise required me to learn (enough of) Go, so I'm not averse to exploring Rust similarly if there's evidence its performance would be enough better (say, by an Order

[2018-10-09 15:02] jeroenvandijk commented on #47
I've used `CTRL-r` with the latest version (uberjar) and I think this works. At least how I expect this shortcut to work

[2018-10-09 15:05] jeroenvandijk opened #97 "Usage: connecting via ssh doesn't work"
(with uberjar)

I just tried the `ssh` command to get into an ec2 instance. This process hangs, no errors, whereas the same command works fine in a bash shell.

[code]

I'm guessing this is an advanced piping operation?

[2018-10-09 15:11] jeroenvandijk commented on #97
I'm guessing this is related to this?

closh
[code]

bash
[code]

[2018-10-09 15:22] jeroenvandijk commented on #88
I think this would make development on `closh` easier as well. You could fix something and instantly retry instead of the `boot uberjar` cycle.

[2018-10-09 15:23] jeroenvandijk commented on #78
I cannot reproduce this issue in the jar version

[2018-10-09 19:02] dundalek commented on #78
Nor can I reproduce it in the node version, might have gone away with a lumo update or something. Thanks for digging through these :+1:

[2018-10-09 19:02] #78 closed

[2018-10-09 19:14] dundalek opened #98 "Glob expansion does not take directory change into consideration"
For example in closh source directory `ls -d *` gives:
[code]

Then switching to directory with `cd src` and `ls -d *` expands files of parent directory which results in this issue:
[code]

The fix will likely be in modifying how the `clj-glob` gets current working directory.

[2018-10-09 19:20] dundalek commented on #97
I see, there are some kinks in output redirection, will look into this. This will likely result in broken vim, tmux, mc and other TUI applications.

In general for trying out the interactive usage I would recommend the node version, which I run as my primary shell and these kinds of things works with it.

[2018-10-09 19:25] dundalek commented on #47
As I understand this probably refers to having interactive completion menus. Rebel version now shows selectable completions inline, but I think there is still a room for improvement.

[2018-10-09 19:27] dundalek commented on #88
I need to dig more into nrepl but I suspect this might be able to work just by adding the server startup code into `.closhrc`. However, it might be likely worth to make this as a built-in.

[2018-10-09 19:36] dundalek commented on #93
It looks like [1.0.0 RC7](https://github.com/oracle/graal/releases/tag/vm-1.0.0-rc7) was released less than a week ago so the mentioned fix is probably in. Therefore there are likely other issues then.

So far I haven't heard any success stories from anyone in the community about running a bootstrapped clojure with graal. So it might be worth to hold off until some progress is made there.

[2018-10-09 19:40] dundalek commented on #92
That PR is a good start to kick things off. I think with it it should be possible just to pass those scripts from resources into respective shells via stdin (without the need to save the contents anywhere to disk).

[2018-10-09 19:44] dundalek commented on #66
I agree. Unfortunately more blocking issues were discovered. There are separate issues opened, I label them with [bug and jvm tags](https://github.com/dundalek/closh/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Ajvm+label%3Abug).

[2018-10-09 19:44] #66 closed

[2018-10-09 19:46] sundbp commented on #93
I've had several successes with clojure+graal. The tricky parts is if there
are dependencies on native libraries and when there's lots of usage of
Unsafe in dependencies (i.e. java libs, don't think I've seen it pop up in
actual clojure code anytime).

It's not for the faint of heart, but clojure and graal itself isn't an
issue - graal and situation X in general on the JVM is where there'll be
con

[2018-10-09 19:57] dundalek commented on #96
As mentioned in #2 I haven't spent any time to make this work so any scripting that works is purely accidental :) But I am starting to see this would likely benefit to people in a relative short time frame, so I think I will focus more more in this direction.

My rough idea is that the script mode would parse the input and pass it down to the compiler in one piece so that any compiler errors would

[2018-10-09 20:09] dundalek commented on #94
I think your second solution with `(if (sh-ok ...` is how I would do it. I think having the exit codes is related to the script mode #96. After the script mode is implemented this should become straightforward.

[2018-10-09 20:27] dundalek commented on #93
@sundbp I am also aware of people compiling native images of clojure applications. I think the issue is creating a native image of Clojure compiler itself due to the dynamic class loading. But the last information I could find on the topic is [about 5 months old](https://www.reddit.com/r/Clojure/comments/8fienj/native_clojure_with_graalvm/dy3zwjp/).

Thank you for your comments and any help is app

[2018-10-09 21:16] sundbp commented on #93
Ah, right - I didn't take into consideration the compiler part itself. Now
I understand the hesitation better :)

On Tue, Oct 9, 2018 at 9:27 PM Jakub Dundalek <notifications@github.com>
wrote:

[2018-10-09 21:36] dundalek commented on #89
So far I've been mostly focusing on the interactive mode of the shell where having full-size Clojure and the ecosystem of libraries is great for quick iteration and experimentation. But recently I've been getting feedback about script mode so this gains my interest too.

To get an idea of the scope of an implementation, here is a basic overview of closh components as it is now:
- **reader** - Sinc

[2018-10-09 21:57] dundalek commented on #54
There is now a [CI setup](https://ci.appveyor.com/project/dundalek/closh) running windows builds. So the first step would be to make the tests pass (some tests need to be fixed, for some the implementation needs fixing).

[2018-10-10 14:10] #92 closed

[2018-10-10 16:17] #98 closed

[2018-10-11 08:04] theronic commented on #22
Some encouragement from the sidelines :) Don't give up on Closh. I need it every day.

I have since switched to Parinfer now that the Cursive implementation is good enough.

[2018-10-11 11:55] jeroenvandijk opened #99 "Pressing tab: error when fish isn't installed"
After the fix of #92 I now get an error when tabbing that `fish` hasn't been installed:

[code]

Looking [at the code](https://github.com/dundalek/closh/blob/65da7f8706454c52a17beccd634650dc942be4b3/src/closh/zero/service/completion.cljc#L33), it is indeed assumed `fish` is installed. Is this a requirement of closh? Should be optional, right?

(Checked out at 1e7aaaf1b129b7991fbcbe1b3d1a24234cea19

[2018-10-11 12:51] dundalek commented on #22
Thanks for the encouragement, it means a lot to me. I would be happier if the progress was faster, but at least it is steady and going forward.

Good to know about finding a way to Parinfer, I also find it is easier to use cognitively.

[2018-10-11 13:26] dundalek commented on #99
Yeah, these should not throw and be wrapped in try/catch. The idea is to try fish first because it has imho the best completions. Then fall back to other shells.

Looks like I need to do more testing on fresh environments.

[2018-10-11 15:12] #97 closed

[2018-10-11 16:30] jeroenvandijk commented on #97
Awesome, I can confirm this works now!

[2018-10-11 17:06] jeroenvandijk commented on #93
clojure 1.8 could be ok, but that's probably undesirable (according to this issue https://github.com/oracle/graal/issues/612)

[2018-10-11 17:17] jeroenvandijk commented on #93
Below are two other references. [1] describes an example compiling clojure to graalVM (semi-succesfully). [2] describe limitations of GraalVM. It sounds the Dynamic class loading/unloading is the blocker. Not sure how this can be removed from Clojure and still have something working.

These limitations seem to indicate that a full blown version of Closh would be hard, but maybe a trimmed version w

[2018-10-11 17:19] dundalek commented on #93
@jeroenvandijk These are great findings!

I think the only thing that closh depends on from 1.9 is spec. But it might be possible to use spec in 1.8 with [spec backport](https://github.com/tonsky/clojure-future-spec).

[2018-10-12 10:01] jeroenvandijk opened #103 "Some concerns around ~/.closhrc"
Issue #91 notified me of the fact that closhrc is evaluated in the namespace `clojure.core`. The error in #91 felt a bit counterintuitive (not `user`, but `clojure.core` as the namespace), but more importantly while trying to reproduce this I found more serious issues with this setup. The first two are just UX related, but the last one can give serious problems without ever knowing why.

This is w

[2018-10-12 10:14] jeroenvandijk commented on #93
We've been a "long" time user of the backport. It has worked well for us. I can give it a try

[2018-10-12 10:26] dundalek commented on #93
That would be great. I am very curious if it works or not.

[2018-10-12 11:03] jeroenvandijk commented on #93
No luck:

[clojure 1.8](https://github.com/jeroenvandijk/closh/commit/c24625c18cf013923cb47ef9c464e00c49c75e38)

[clojure 1.10-0-RC1](https://github.com/jeroenvandijk/closh/commit/53d588c47d845d0638bf7c8284521116e9770ebd)

By printing the Clojure version, I also found that GraalVM has filename bashed caching.. Had to rename the file. I also saw that the stacktrace didn't have line numbers the seco

[2018-10-12 12:13] dundalek commented on #103
Agree with your proposed solution to wrap it in try/catch, I should be more considerate of catching the potential errors from now on.

For the ugly part it seems that just evaling things in `user` namespace should solve it. With the prompt fix it seems a symptom was fixed but the underlying problem remains. It is strange that switching the namespace explicitly does nothing.

Also if I put `(printl

[2018-10-12 18:19] jeroenvandijk commented on #103
Ah yeah I think you are right that the user namespace would solve the issue:

[code]

It would just be a local issue, nothing really unexpected

[2018-10-12 19:03] jeroenvandijk commented on #93
Ok maybe good news, I've been able to create a hello world executable

<details>
   <summary>
   Output here
   </summary>
    <p>

    ➜  closh git:(feature/bare-graal-client) ✗ boot -d boot/new new -t app -n myapp

    Retrieving maven-metadata.xml from https://repo.clojars.org/
    Generating a project called myapp based on the 'app' template.
    ➜  myapp git:(feature/bare-graal-client) ✗ boot

[2018-10-13 10:51] #99 closed

[2018-10-13 11:02] jeroenvandijk commented on #93
I've created something more than hello world in #105 :)

So far it seems that simple code works if you don't have any reflections. Compilation is pretty fast for a small project as well.

[2018-10-13 11:09] jeroenvandijk commented on #93
In addition to the above, reflections warnings are not always found during compile time of the uberjar, and I'm not even sure i they are always found at runtime when running it as a jar. As an example, [this type hint ](https://github.com/dundalek/closh/pull/105/files#diff-336b8a8dffae65260f854867fc8529b5R9)only cropped up in the binary, at runtime, with a cryptic error like no method with signatu

[2018-10-16 08:44] jeroenvandijk opened #106 "JVM: defalias doesn't work?"
I'm trying to extend the `git` command with a `browse` option, but `defalias` doesn't do what I expect.

In `~/.closhrc`
[code]
=>
[code]

Other functions work fine so I know `closhrc` is loaded.

The same thing happens when I do it in the shell itself:

[code]

[2018-10-16 10:22] dundalek commented on #106
You are right, aliases and abbreviations in the node version work by transforming the input string before it gets passed to the reader. I haven't got around to hooking it into the rebel-readline yet, so it does not work for the JVM version at the moment.

Although a bit clunky a possible workaround for now would be to use the `defcmd` like so:
[code]

[2018-10-16 12:25] jeroenvandijk commented on #106
Thanks! There are two other issues though. With your example:
[code]
When I try to hack around with eval and use `'` I get this:
[code]

This seems to be an issue specific to closhrc. In the shell it does seem to work

[2018-11-05 22:44] dundalek commented on #88
@zcaudate Initial support is now included in master, details can be found in the [cookbook](https://github.com/dundalek/closh/blob/master/doc/cookbook.md#running-nrepl-server).

[2018-11-05 22:52] dundalek commented on #55
I am closing this since we now have a direct rebel-readline integration and nREPL server can also be [started](https://github.com/dundalek/closh/blob/master/doc/cookbook.md#running-nrepl-server).

[2018-11-05 22:52] #55 closed

[2018-11-05 23:59] hoebat commented on #88
@dundalek: ah awesome. this is amazing.

[2018-11-06 17:13] dundalek commented on #103
@jeroenvandijk This should be fixed in https://github.com/dundalek/closh/commit/8ec940a35120f507209c47f8933afb8ab30b94b8. Could you please verify on your machine?

[2018-11-09 12:19] dundalek opened #107 "Require and quoted values in the repl broken"
For example following gives syntax error:
[code]

It seems it related to the require only since following works:
[code]

There seems to be a workaround, my head is spinning:
[code]

[2018-11-09 12:53] dundalek commented on #15
I revisited this, here is how we currently stand:

## JVM version

- Loading scripts with load-file works
- Loading libraries works with Pomegranate

## Lumo version

- Loading scripts works half-way, maybe it can be fixed upstream https://github.com/anmonteiro/lumo/issues/449
- Loading npm libraries with js/require works
- Loading cljs libraries is broken

For example with lumo it is possible to

[2018-11-09 14:21] dundalek opened #108 "Aliases are only expanded for the first command but not for command inside pipeline"
[code]

defcmd also does not work, following hangs:
[code]

Using xclip directly works as expected:
[code]

[2018-11-09 14:43] dundalek opened #109 "Piping from interactive command fails"
[code]

Only affects lumo version. JVM version seems to work fine.

[2018-11-09 15:43] dundalek opened #110 "Piping seems to leave open file descriptors in cljs version"
While using the [autojump hook](https://github.com/dundalek/dotfiles/blob/master/closh/.closh_autojump.cljc) it seems after a while some descriptors are left open. A way to find out is to open  System Monitor, right-click on process -> Open Files:

![image](https://user-images.githubusercontent.com/755611/48271960-6c873500-e435-11e8-9a1e-def818a7be5f.png)

[2018-11-09 16:06] dundalek opened #111 "Redirection at the beginning of line does not work"
In bash one can specify redirection anywhere in the input, so these are all equivalent (in closh only the first one works):
- `ls -l > out.txt`
- `ls > out.txt -l`
- `> out.txt ls -l`

I think it is more appropriate for input redirection. Lets say I want to work with a certain file.
Then `< package.json grep cljs` might be more natural than `grep cljs < package.json`.

Closh's grammar only support

[2018-11-09 16:21] dundalek opened #112 "Cumbersome tab completion when name contains spaces"
Let's have a file with a name containing spaces:
[code]

Current closh tab completion is not ideal.

## Closh

After doing tab-completion
[code]
We end up with errors:
[code]

---

Or with a starting quote
[code]

It is better but one has to add ending quote to close the string:
[code]

## Bash

Bash handles things a better way.

In the first case it escapes the whitespace:
[code]

And in the seco

[2018-11-26 10:19] jeroenvandijk commented on #103
A bit late (holidays), but I can confirm this works on my machine too! The new error message is helpful too. Thanks!

[2018-11-26 11:14] dundalek commented on #103
Cool, thanks :+1:

[2018-11-26 11:14] #103 closed

[2018-11-28 14:11] urzds opened #113 "Node LTS version 10 support"
[code]

Would it be possible to support Node version 10, the current LTS version?

[2018-11-28 15:04] dundalek commented on #113
I plan to do that. Latest Lumo is built on Node 10, but there I some incompatibilities with Closh I need to fix first.

[2018-11-28 22:49] dundalek commented on #113
I did a bit of digging into it. Here is the report of found issues:

### 1) File expansion is broken

File expansion does not work, for example `"ls *"` which internally calls `(expand "*")` will not return the files in the directory. There are many test failures which most seem to be related to this:

[code]

I was able to track this down and it is caused by broken `fs` module: https://github.com

[2018-12-06 03:38] #88 closed

[2018-12-11 20:03] jayzawrotny opened #114 "BUG: Rebel arity error when set as default tmux shell"
# REPRODUCTION
1. Run a working tmux instance
2. Modify and run the following command through tmux (ctrl-b+:)
    `set -g default-shell /path/to/closh-zero.jar`
3. Create a new tmux window (ctrl-b+c)

## EXPECTED
A new closh shell is created running the jar

## ACTUAL
An error message flashes and the window closes.

![screen shot 2018-12-11 at 2 49 16 pm](https://user-images.githubusercontent.com/

[2018-12-11 21:26] dundalek commented on #114
Thank you, what a superb bug report :ok_hand:

I think I have a clue where the issue might be, will look into it.

[2018-12-11 21:54] dundalek commented on #114
I just published a tiny new release with a fix which should take care of this: https://github.com/dundalek/closh/releases/tag/v0.3.2

Please let me know if it works for you.

[2018-12-11 23:04] jaidetree commented on #114
Tested it, works just fine. Thanks!

[2018-12-11 23:16] dundalek commented on #114
Cool :+1:

[2018-12-11 23:16] #114 closed

[2018-12-12 14:29] jayzawrotny opened #115 "[BUG] Display and input overlap with tab-completion"
# REPRODUCTION

1. Run closh-zero.jar
2. Type in a base directory like `~/`
3. Press the TAB key
4. Start typing the prefix of a listed dir

## Expected
- Cursor should remain at the end of where I typed (just after `~/`)
- Input should remain unchanged
- Tab completion results visually organized

## Actual
- Cursor moves to beginning of line
- Typing the prefix of a completion overwrites the init

[2018-12-12 16:04] dundalek commented on #115
That looks strange indeed. Does it happen every time or only sometimes?

I sometimes get strange behavior when I resize the terminal window but unfortunately I haven't been able to observe any patterns. Did you maybe resize the terminal?

Could you try a different terminal to see what the behavior is there?

[2018-12-12 16:08] jaidetree commented on #115
Happens every time. I’ll try a different terminal and see what happens.

[2018-12-12 16:15] dundalek commented on #115
Another pointer might be to try to run [rebel-readline](https://github.com/bhauman/rebel-readline) and see how completions behave there (closh uses rebel-readline internally). I don't run a Mac so I can't unfortunately test these myself.

[2018-12-12 16:53] jaidetree commented on #115
Just tried both. Same thing happened when using default OS X Terminal:

![screen shot 2018-12-12 at 11 48 03 am](https://user-images.githubusercontent.com/590297/49885048-4eca3880-fe04-11e8-8fba-1e38f83af746.png)

Rebel readline seemed to work correctly:

![screen shot 2018-12-12 at 11 49 33 am](https://user-images.githubusercontent.com/590297/49885062-54278300-fe04-11e8-8c15-c06d9f5b9598.png)

``

[2018-12-12 17:21] dundalek commented on #115
Great, that helped narrow it down a lot.

I think I found the issue. Closh invokes existing shells for completions. It first tries fish, then zsh and lastly fallbacks to bash. In your case it seems to them from zsh, but it seems that zsh returns some special characters that move the terminal into inconsistent state. I have fish installed so I haven't noticed this before.

In order to fix this I ne

[2018-12-12 17:46] dundalek commented on #115
The fix for this is now in master. While I am at it I will try to tackle #112 and will publish a release after that.

[2018-12-12 21:54] jaidetree commented on #115
Confirming that running it within fish shell did fix tab-completion. It even works when using bash. I'll try to test those environments if anything comes up again.

Also, you may have just converted me to fish shell<sup>*</sup>

---
<sub>[*] Fish shell until or under closh of course 😄 </sub>

[2018-12-12 22:19] dundalek commented on #115
Haha, nice one :smile: I switched to fish and used it for some while before I started working on closh. I think it has the best user interface of all and I would like to make closh feel as smooth (or better) one day.

[2018-12-13 15:21] jaidetree commented on #115
Yeah, fish is a really rich experience. It's a very good benchmark for Closh :)

After playing more with Closh, this behavior does occur even when setting it directly as my default shell. Will this upcoming release fix that?

[2018-12-17 21:30] dundalek commented on #2
I've written initial design proposal for the script mode here: https://www.reddit.com/r/closh/comments/a71usj/script_mode_design_proposal_for_closh/

Any feedback appreciated.

[2018-12-21 12:34] jeroenvandijk opened #116 "Potential future issue with uberjar creation"
I guess mostly for reference:

At work I've gained more experience with uberjar creation using `boot-clj` and `boot-tools-deps`. I've ran into a situation where it doesn't work properly, namely when you don't aot all namespaces. If you want to use a namespace from a tools.deps dependency (i.e. git) this can fail when this namespace is not (aot-ed) as it will not be included in the jar.

Right now,

[2019-01-02 09:02] dundalek commented on #116
Thanks for the heads up. Can you think of a case when we wouldn't want to AOT all namespaces?

[2019-01-02 09:40] dundalek commented on #62
Fixed in master.

[2019-01-02 09:40] #62 closed

[2019-01-02 10:15] dundalek commented on #115
It took a bit longer but `v0.3.3` is now published and it includes a fix for this issue.

[2019-01-02 10:15] #115 closed

[2019-01-02 12:07] dundalek opened #117 "Lifecycle hooks"
From a discussion in [reddit](https://www.reddit.com/r/closh/comments/a71usj/script_mode_design_proposal_for_closh/ecust8h/):

Naming ideas (in order of my decreasing preference):

-    closh.hook/logout
-    closh-hook-logout
-    closh-logout-hook

Ideas for hooks include but are very much not limited to:

-    login
-    logout
-    command-start (non-interactive)
-    command-finish (non-inter

[2019-01-02 12:19] dundalek opened #118 "Custom script file extension"
Suggestion from [reddit](https://www.reddit.com/r/closh/comments/a71usj/script_mode_design_proposal_for_closh/ecust8h/): Since the script mode can be considered a new scripting language, it should probably have a new file extension. One proposed candidate I like is `.clsh`.

However, that would require work to support various text editors. In the meantime before closh reaches a more widespread ado

[2019-01-02 12:35] dundalek opened #119 "Subshell support"
Example of subshell in bash:
[code]

Possible alternative in closh:
[code]

Another bash example (expecting to still be in the original dir when it's done):
[code]

I think that spawning another process would be inefficient. Maybe we could just spawn a thread. There are things that would need to be isolated/preserved:
- cwd
- env variables
- variables in current scope?
- classpaths and required li

[2019-01-02 12:41] jeroenvandijk commented on #116
Good question, not sure actually. When Closh would be used as a dependency to something else and there are conflicts in the dependencies AOT might give issues (e.g. clojure version), but I'm not sure if this would ever happen.

[2019-01-02 12:50] dundalek opened #120 "Trap signals"
Helper function to register signal handlers.

Example of a possible usage:
[code]

[2019-01-02 12:58] dundalek commented on #116
From my understanding libraries are desirable to include non-AOT-ed sources to prevent possible conflicts as you mention. If anyone wanted to use closh as a dependency they could include it as git dep and which would build it from sources. But for the final binary it should probably be fine.

But having a leaner build tool that works directly on top of `tools.deps` is appealing to me for the sake

[2019-01-02 13:15] dundalek opened #121 "Built-in environment variables"
Make available built-in environment variables that people are used to from other shells.

We already have `PWD`.

Additional potential candidates:
- ENV
- UID
- BASH_SOURCE
- PID

[2019-01-02 19:44] jaidetree commented on #115
Appears fixed now, great job!

[2019-01-14 09:34] jeroenvandijk commented on #93
Probably useful to follow this project as it has overlapping challenges and interests with closh https://github.com/boot-clj/boot-native

[2019-03-20 11:45] s-ol commented on #113
as I [commented in anmonteiro/lumo#453](anmonteiro/lumo#453), this only affects relative paths. Perhaps as a workaround the paths could be absolut-ized (readlink, abspath or internal logic based on getcwd)?

[2019-03-20 11:53] s-ol commented on #113
1) only affects the directory lumo was started from, so it would be possible to start closh in a wrapper like

[code]

and execute `(process.chdir workdir)` first thing inside lumo.

[2019-03-21 00:24] dundalek commented on #113
Thanks for the info. This is a great finding, I think it is a great starting point to locate the bug in lumo.

I would prefer to have the bug fixed in upstream lumo rather than adding more hacks into closh. There are enough hacks as it is :sweat_smile:

[2019-03-28 20:03] dundalek opened #122 "Print + flush outputs a newline with rebel readline"
Run following in a repl:

[code]

When using rebel frontend `clojure -m closh.zero.frontend.rebel` the cursor will be incorrectly on a next line after the print. The same behavior happends when using rebel-readline directly with `clojure -Sdeps "{:deps {com.bhauman/rebel-readline {:mvn/version \"0.1.4\"}}}" -m rebel-readline.main`.

When running with the plain frontend `clojure -m closh.zero.front

[2019-03-28 20:11] dundalek commented on #122
Looks like there is already an issue reported for rebel-readline: https://github.com/bhauman/rebel-readline/issues/175

[2019-03-30 13:38] dundalek commented on #29
Created a closh playground: https://repl.it/@dundalek/closh-playground

[2019-03-30 13:38] #29 closed

[2019-04-07 20:17] dundalek commented on #2
Initial iteration of script mode has now landed in the latest release v0.4, you can read how to use it in the [scripting docs](https://github.com/dundalek/closh/blob/master/doc/scripting.md). I will be glad for any feedback, experience or issue reports.

[2019-04-07 20:17] #2 closed

[2019-04-07 20:21] dundalek commented on #19
`read-line` works in the JVM version, so I added a lumo label for clarity.

[2019-04-07 20:22] dundalek commented on #75
Initial iteration of script mode has now landed in the latest JVM version release v0.4, you can read how to use it in the [scripting docs](https://github.com/dundalek/closh/blob/master/doc/scripting.md).

[2019-04-07 20:22] #75 closed

[2019-04-07 20:26] dundalek commented on #94
@jeroenvandijk It might be worth to give this a shot with the new script mode release. I am not sure what the is the issue here. If you post the code in bash, I can help to translate it for closh.

[2019-04-07 20:27] dundalek commented on #96
Initial iteration of script mode has now landed in the latest release v0.4, you can read how to use it in the [scripting docs](https://github.com/dundalek/closh/blob/master/doc/scripting.md). I will be glad for any feedback, experience or issue reports.

[2019-04-07 20:27] #96 closed

[2019-04-07 20:37] dundalek commented on #21
We have it for the JVM version using `rebel-readline`, so I am adding lumo label for clarity.

[2019-04-07 21:01] dundalek commented on #60
Closing for now, will address it during readline reimplementation.

[2019-04-07 21:01] #60 closed

[2019-04-07 21:07] dundalek commented on #17
Multi-line input works in the JVM version (thanks to `rebel-readline`). Adding `lumo` label to clarify that this only a limitation of the lumo version.

[2019-04-08 12:44] jeroenvandijk commented on #94
@dundalek I think I was approaching the problem in the wrong way. With Closh I actually don't need to rely on the bash exit codes:
[code]

I'll close the issue

[2019-04-08 12:44] #94 closed

[2019-04-08 14:07] jeroenvandijk commented on #106
I've been playing with the last closh-zero version and I worked around the alias "issue" in a similar way as you suggested https://gist.github.com/jeroenvandijk/33c51ab73480358ddad18277fc066717

[2019-04-09 08:38] s-ol commented on #113
@dundalek looks like upstream is fixed, but a release is still pending

[2019-04-09 18:55] dundalek opened #124 "Incorrect result with non-existing command"
E.g. in JVM version
[code]

In lumo version (returns negative return code):
[code]

bash returns code 127:
[code]

Also when stderr is redirected then no output is shown:
[code]

[2019-04-09 18:59] dundalek commented on #113
Yeah, it looks I it coming soon: https://twitter.com/_anmonteiro/status/1115630062995374080. I will do an update once it is out.

[2019-04-09 19:05] dundalek opened #125 "Figure out how to add deps from within a script"
To support git deps. I think it might be possible to call `resolve-deps` and `make-classpatch` from `tools.deps` programatically. Then add the result to classpath with pomegranate's `add-classpath`.

[2019-04-09 19:12] dundalek opened #126 "slurp does not take into account cwd"
Start closh from the project directory. Evaling `(slurp "deps.edn")` will return the contents. Then change the directory to another one where `deps.edn` doest not exist. Evaling `(slurp "deps.edn")` will return the same contents.

It should return actual content based on current working directory.

[2019-04-09 19:23] dundalek opened #127 "Figure out a way to splice in seq of arguments"
So that arguments can be spliced instead of using workarounds like this:

[code]

After it might become:
[code]

Now that I see it.. it looks ugly too. So there may be even some better way.

[2019-04-09 19:28] dundalek commented on #127
Maybe use metadata?
[code]

[2019-04-10 12:44] jeroenvandijk opened #128 "Copy pasting github's clone commands gives issues"
Not sure if it is the multiline or not, but when you try to execute the example commands of Github when creating a repo this fails in Closh:

[code]

=>

[code]

Hypothesis: Closh doesn't use the \newline to terminate the command

[2019-04-10 13:54] jeroenvandijk commented on #127
In my opinion the apply version isn't that ugly. Especially since we would use it in scripts only.

Also it can be made slightly less ugly:
[code]

This might be uglier then the metadata option, for instance, but it would be easier to understand and reason about when you already have some experience in Clojure.

[2019-04-10 13:56] jeroenvandijk commented on #125
Some previous work/thought: https://github.com/cemerick/pomegranate/issues/106

[2019-04-10 22:48] s-ol commented on #113
@dundalek: looks like soon is now :wink: https://twitter.com/_anmonteiro/status/1115990073256890370?s=19

[2019-04-11 10:53] jeroenvandijk opened #129 "Autocompletion issue"
In closh jvm

When I type "(ki" and press TAB I get the following exception:

[code]

[2019-04-12 07:57] jeroenvandijk opened #130 "JVM: ~ not expanded"
"~" doesn't expand to the home dir:
[code]

[2019-04-12 08:03] jeroenvandijk commented on #125
A collegeau pointed me to a similar thing with tools.deps in IClojure (Clojure in Jupyter) https://github.com/HCADatalab/IClojure/blob/62cda58dee9c57d7d5e120df618e9ffbcd6181d9/src/iclj/core.clj#L368

[2019-04-15 19:17] dundalek opened #131 "Startup time"
Explore ways to lower down the startup time.

Follow boot and see what they come up with: https://github.com/boot-clj/boot/issues/106

Alternatives:
- https://github.com/jeroenvandijk/clojure-scripting
- https://github.com/flatland/drip
- https://github.com/facebook/nailgun

[2019-04-17 12:20] jeroenvandijk commented on #131
Another wild idea (similar to planck), generate a binary via GraalVM that can 1) evaluate ClojureScript by evaluating it in self-hosted Clojurescript in Graal's ScriptEngineManager 2) and precompile it with self-hosted clojurescript + closh.

Part 1) works and gives fast boot times (30ms) for a small javascript file. Step 2) doesn't work [1] . Without precompiling it and evalling ClojureScript dur

[2019-04-17 16:03] dundalek commented on #131
That is a really interesting idea. I don't understand too much details of step 2) but at the end of [1] it seems they have a working solution? What is the issue with running a self-hosted clojurescript in GraalJS?

[2019-04-18 08:59] jeroenvandijk commented on #131
Sorry I wasn't clear.

1) Yes, so we can have a stand alone js engine of around 74mb. This thing can run any javascript file (I assume). The full example is here https://github.com/jeroenvandijk/clojure-scripting/blob/self-hosting/self-hosted1/src/clojure/scripting/client.clj

2) having a standalone js engine alone isn't good enough if we are interested in fast clojure(script) boottime. We have to

[2019-04-19 09:40] dundalek opened #132 "Exec command"
Bash has a low-level `exec` command which executes a command and replaces current shell process with it.

This is useful when executing long-running processes or services, so that shell parent process does not occupy space in RAM.

Currently closh with rebel-readline has overhead of around 250 MB, with plain main it is around 180 MB.

Java does not provide API for this, the only way would be to us

[2019-04-19 09:43] dundalek opened #133 "Run command in the background with &"
This might involve needing to implement job control to keep track of running background processes.

[2019-04-19 09:47] dundalek opened #134 "Run a command based on a content of variable"
To support running commands like
[code]

[2019-04-19 10:04] dundalek opened #135 "Special modes for debugging (set -e, set -x)"
Consider if we want to support:

`set -e` Exit immediately if a command exits with a non-zero status.

`set -x` Enables a mode of the shell where all executed commands are printed to the terminal.

[2019-04-19 10:07] dundalek opened #136 "Add with-cwd to run command with a specified cwd"
In bash it is often achieved with a subshell and cd.

[2019-04-27 19:53] dundalek opened #137 "Make sure unlimited file can be piped"
In bash following processes each line as it is appended to a file:
[code]

In closh that could be:
[code]

Make sure it can process potentially unlimited file. Make sure the pipe operator `|>` uses lazy-seqs.

Make sure that piping large streams, e.g. `/dev/zero`  will not run out of memory.

[2019-04-27 19:56] dundalek opened #138 "Get absolute location of a script"
Following idiom is used in bash to get the absolute location of a script. It is usually used to include or execute scripts relative to its location independently of what the current working directory is:

[code]

Add some mechanism to get the absolute script path in closh.

[2019-04-27 20:08] dundalek opened #139 "Acessing variables as $varname"
In bash a variable valuable can be accessed with the dollar sign `$varname`. That gets value of a local variable and fall backs to environment variable.

In closh it is currently done with `(str varname)` and `(getenv "varname")` which can become quite chatty. I am considering whether we should expand variable value with dollar sign too. Should we also fall back to environment variable?

With the

[2019-04-27 20:17] dundalek opened #140 "Add unsetenv builtin"
Currently it is done with setenv with arity 1 but that is conflating things together.

[2019-04-27 20:23] dundalek opened #141 "Implement a library as alternative to test"
Implement a library instead `test` command.

Ideas:
[code]

[2019-04-27 21:07] dundalek opened #142 "Redirect stdout from inside the script"
In bash achievable [using exec](https://ops.tips/gists/redirect-all-outputs-of-a-bash-script-to-a-file/).

[2019-04-28 12:14] #70 closed

[2019-05-27 03:22] naclander opened #143 "`cd` is still broken in latest release uber-jar"
Thanks for the awesome package.

I noticed there were some patches to fix the `cd` breakage in closh. However it doesn't look like the release jar has been updated to fix this.

On a related note, can the README be updated to include instructions for how to generate the uber-jar?

[2019-05-27 03:31] naclander commented on #143
Hmm I think I made a mistake, and I'm having a different issue. I'll resolve this for now.

[2019-05-27 03:31] #143 closed

[2019-05-30 20:40] naclander opened #144 "`cd` doesn't change directory"
I am running the release JVM binary under Linux and using the `cd` command doesn't actually seem to be changing directories.

Digging a little deeper it seems that https://github.com/dundalek/closh/blob/master/src/jvm/closh/zero/platform/process.clj#L30 doesn't actually permanently change the `user.dir` value.

[2019-06-05 01:07] PlumpMath commented on #144
me too~*;

[2019-06-05 13:38] eggsyntax commented on #144
Same here, also JVM binary + Linux.

[2019-06-06 05:20] naclander commented on #144
I was also doing some reading about `user.dir`, I'm still not familiar with the inner workings of closh, but would a global variable that represents the cwd work, instead of saving it in `user.dir`?

[2019-06-26 18:06] dundalek commented on #144
Sorry for the delayed response, I was on a vacation and then was busy with other work. That is strange, I run Linux and cd works for me. I am running Java 8, what version are you running?

I believe user.dir is also used when spawning processes or IO, but if it is causing trouble we might wanna change it to keep cwd explicitly. More issues around CWD are appearing, I will try to get a deeper look

[2019-06-26 22:58] eggsyntax commented on #144
Java 11 for me. Thanks for taking a look!

[2019-06-28 18:30] dundalek commented on #116
Another potential tool to use: https://github.com/tonsky/uberdeps

[2019-06-28 18:32] dundalek commented on #13
Not going to be working on this anytime soon, closing for now.

[2019-06-28 18:32] #13 closed

[2019-06-29 01:26] ralcantaraperez opened #146 "Problem with dynamic variables"
Hi. I'm having problems with dynamic variables and a script loaded by closh-zero.jar. If I do it in the REPL it runs fine. This is the script file content:
[code]
This is the error:
[code]

[2019-06-29 08:30] dundalek commented on #146
Thanks for the report. It looks like the problem is with the custom reader. For example following also does not work (prints nil):

[code]

I will try to look into it.

[2019-06-29 09:23] dundalek commented on #146
This is now fixed in master.

I would like to fix some more bugs and release a new version after that. In the meantime you use manual build. Clone the repo, run `npm run pkg-java` and you will get the binary in `target/closh-zero.jar`.

[2019-06-29 09:23] #146 closed

[2019-06-29 12:20] dundalek commented on #136
Not sure if it should go into core, added a potential implementation as a [cookbook recipe](https://github.com/dundalek/closh/blob/master/doc/cookbook.md#temporarily-change-current-working-directory).

[2019-06-29 12:20] #136 closed

[2019-06-29 12:20] #126 closed

[2019-06-29 12:45] dundalek commented on #144
Fixed in master.

There are couple of small items I would like to tackle before I will push a release. In the meantime you can use [manual build](https://github.com/dundalek/closh#manual-java-builds).

Interesting background on how this issue came to be:
https://bugs.openjdk.java.net/browse/JDK-8194154
https://bugs.openjdk.java.net/browse/JDK-8202127

[2019-06-29 12:45] #144 closed

[2019-06-30 11:04] sogaiu commented on #54
FWIW, following the CI setup link just gave:

[code]

[2019-06-30 17:31] dundalek commented on #54
I disabled Windows CI a while ago because it was getting in a way.

Also we started with node.js version which was more difficult to run on windows. I think the Java version should be easier to make running on windows.

Are you familiar with windows to try things out?

[2019-06-30 22:28] sogaiu commented on #54
Not sure if I know enough, but just spent some time loading up Windows-related context for a different project that is using the Windows support for Graal's native-image.

I thought I might take a look to see if there was anything manageable -- though I'm mostly interested in fast startup times.  If it could be made to work, it seems like the node.js version would start a fair bit faster.  Does th

[2019-07-01 17:44] dundalek commented on #54
Yeah, the node.js version should be slightly faster. But it is not the best we can do since I was not yet able to hook into lumo build system and make it compile as a single binary.

If startup times are your top concern, I would also suggest checking out [joker](https://github.com/candid82/joker).

As for windows builds in general maybe if we wait long enough the need can go away as WSL improves.

[2019-07-01 22:56] sogaiu commented on #54
Thanks for your comments and suggestion.

I had considered joker, but my primary interest at the moment is editor tooling for Clojure involving the use of rewrite-clj, and assumed that library wouldn't work with joker.  But perhaps I should confirm :)

Regarding WSL, I heard a version 2 had become available recently.  Is that something you've tried already?

[2019-07-02 17:44] dundalek commented on #134
Currently possible to run like `(cmd (str (getenv "KAFKA_DIR" "/bin/kafka-topics.sh")))`, but that is cumbersome.

[2019-07-05 18:32] #140 closed

[2019-07-05 18:33] dundalek commented on #138
Added howto into [cookbook](https://github.com/dundalek/closh/blob/master/doc/cookbook.md#get-absolute-location-of-a-script).

[2019-07-05 18:33] #138 closed

[2019-07-06 06:37] #130 closed

[2019-07-20 16:51] dundalek commented on #141
There is an existing library to do this, I added an example into [cookbook](https://github.com/dundalek/closh/blob/master/doc/cookbook.md#helpers-for-file-tests).

[2019-07-20 16:51] #141 closed

[2019-08-07 04:23] naclander commented on #144
@dundalek  Thanks! Looks like that fixed the issue for me.

[2019-08-09 20:47] dundalek commented on #116
Another one: https://github.com/seancorfield/depstar

[2019-08-13 00:52] djblue commented on #106
@dundalek Where is a good place to start looking at implementing this feature?

[2019-08-13 22:55] dundalek commented on #106
@djblue This is a bit tricky, but I think I figured out a potential approach now.

For comparison the Clojurescript implementation is pretty straightforward. We [get a line as string](https://github.com/dundalek/closh/blob/master/src/lumo/closh/zero/frontend/node_readline.cljs#L240) and just replace it if we find a match.

Clojure uses readers which makes it more difficult. The approach might be t

[2019-08-14 06:00] djblue commented on #133
@dundalek Did you have any ideas on how job control should be implemented?

[2019-08-15 20:19] dundalek commented on #133
@djblue  My thought process is that I don't think I've ever needed the full job control using `jobs`, `fg` and `bg` during all my years with bash. Therefore I would like to try if it is possible to make something simpler.

I imagine we could wrap background processes in a `future` (to make them run in a separate thread so they don't block in case there is a clojure computation as part of the pipel

[2019-08-21 18:14] #106 closed

[2019-08-21 18:18] dundalek opened #151 "Implement abbreviations for JVM version"
Similarly to https://github.com/dundalek/closh/issues/106

Abbreaviations differ from aliases that they are expanded on the command line as they are typed. We will need to hook into somewhere on the layer of rebel-readline/jline.

[2019-08-21 18:20] dundalek opened #152 "Issue when expanding aliases for multiple-line input"
Here's a sample case:
[code]

[2019-08-24 22:16] refracted opened #153 "`cd` doesn't work when directory name is a number"
Suppose there's a directory called '1' in the current working directory. If I try `cd 1`, it fails with

`Execution error (IllegalArgumentException) at closh.zero.platform.process/resolve-path (process.clj:29).
No matching ctor found for class java.io.File`

`cd ./1` and `cd 1/` both work.

[2019-08-26 23:18] #153 closed

[2019-08-26 23:18] dundalek commented on #153
Thanks for the report! Fixed in master.

[2019-09-20 15:14] dundalek opened #154 "At-sign @ reader error"
For example running in command line:
[code]

Gives:
[code]

[2019-09-20 15:15] dundalek opened #155 "Tilde ~ is not being correctly read in script mode"
For example have a script `test.cljc`
[code]

Running
[code]

fails with:
[code]

[2019-09-20 15:16] dundalek opened #156 "Adjacent symbols and strings considered as two tokens"
For example a common pattern of passing environmnet variables:
[code]

errors with:
[code]

This is because adjacent symbol and string is considered as two tokens, so it is the same as:

[code]

A workaround is to wrap the whole thing in quotes, but it is not very nice:
[code]

[2019-09-20 15:17] dundalek opened #157 "cd into directory just by typing the name"
Similar to setting option in bash 4.0:
[code]

I think if we add a way to customize command not found handler, this could be then added trivially from userspace.

[2019-09-21 13:19] dundalek opened #158 "Glob not properly expanding in JVM version"
Running following from withing the closh source directory does not correctly expands (in JVM versin, nodejs version works fine).
[code]

We are using clj-glob library. Maybe we could try glob implementation provided by Java using [FileSystem.getPathMatcher](https://docs.oracle.com/javase/8/docs/api/java/nio/file/FileSystem.html#getPathMatcher-java.lang.String-) in combination with [Files.walkFileT

[2019-10-08 21:35] dundalek commented on #125
It seems like [add-lib](http://insideclojure.org/2018/05/04/add-lib/) function that would handle this is on the [roadmap](http://insideclojure.org/2019/10/06/journal/) for Clojure 1.11. I think I will wait for that instead of trying to create some custom solution.

[2019-11-03 19:23] johannesloetzsch commented on #129
Seems like the error was fixed in the meantime. @jeroenvandijk can you please check if you can reproduce the problem with the current master?

[2019-11-03 23:24] johannesloetzsch opened #162 "shell completion bugs"
Tab completion for shell commands didn't work for me (using the java version of closh in combination with bash). So I searched for the reason and found two:

1. `resources/completion/completion.bash` couldn't find `_completion_loader`. My distribution doesn't provide `bash_completion*` at one of the nasty hard coded paths. `_completion_loader` is exactly than available, when bash is started in **i

[2019-11-04 09:18] jeroenvandijk commented on #129
@johannesloetzsch I cannot reproduce the problem with the current master (8a2fc67ce1152aa6c52c0250e247104581d1eff1), so I guess it is fixed. Tested on Mac Osx via:

[code]

(Building the uberjar via `boot uberjar` failed locally. So I tried the above. )

[2019-11-04 20:05] dundalek commented on #162
The check was taken when I adapted the code from rebel-readline: https://github.com/bhauman/rebel-readline/blob/master/rebel-readline/src/rebel_readline/clojure/line_reader.clj#L998

We can probably change if it makes more sense to do it differently. The "ls " example makes sense and it also works that way in the clojurescript version.

[2019-11-04 20:09] dundalek commented on #129
That's curious. I would be also interested in the `boot uberjar` failure, if it is some error we could fix.

[2019-11-04 22:05] jeroenvandijk commented on #129
Oh I think a made a wrong observation. Actually it does work on a first try. However when I do

[code]
Thus without cleaning up the `target` dir, I get the error below:

[code]

[2019-11-05 09:49] jeroenvandijk commented on #93
Should this one be closed? The sci approach in master is likely to make this redundant.

[2019-11-06 21:34] johannesloetzsch commented on #162
Thanx :)

[2019-11-06 21:34] #162 closed

[2019-11-08 02:44] supernovae commented on #54
I'm running Windows 10 Build 1909 and WSL.  Closh works fine in WSL [Ubuntu 1804](https://www.microsoft.com/en-us/p/ubuntu-1804-lts/9n9tngvndl3q?activetab=pivot:overviewtab) with [Windows Terminal ](https://www.microsoft.com/en-us/p/windows-terminal-preview/9n0dx20hk701?activetab=pivot:overviewtab).   All I had to do was run `apt-get install openjdk-11-jre` and then download jar and run `java -jar

[2019-11-08 11:06] kirillsalykin commented on #158
@dundalek I've opened PR to address this issue https://github.com/dundalek/closh/pull/164.

Please review.

Some tests are still failing locally, looking into this.

[2019-11-09 11:59] dundalek commented on #93
I think so too.

[2019-11-09 11:59] #93 closed

[2019-11-10 15:23] dundalek opened #165 "Redirects do not work correctly when reassigning std descriptors"
In bash following prints nothing:
[code]

In closh following prints x:
[code]

I am not sure if it is possible to bend ProbessBuilder to make it work. We likely need to reach for lower level native APIs.

Some test cases:
[code]

[2019-11-10 15:43] dundalek commented on #131
Not a priority now that sci with graalvm port is coming, but it might be possible to use class data sharing to improve startup time.

https://ask.clojure.org/index.php/8353/can-we-use-appcds-to-speed-up-app-start
https://blog.codefx.org/java/application-class-data-sharing/

[2019-11-10 15:50] dundalek commented on #116
And another one:
https://github.com/EwenG/badigeon
https://cjohansen.no/clojure-in-production-tools-deps/

[2019-11-10 16:08] dundalek opened #166 "Support `cd - to` go to previous directory"
Currently `cd` sets `$PWD`.
Make it that it also sets `$OLDPWD` and when doing `cd -` change to `$OLDPWD`.

[2019-11-13 00:05] #158 closed

[2019-11-19 11:46] jeroenvandijk commented on #125
With Sci and GraalVM things have becomes slightly more difficult. However, there is this idea from @borkdude to explore the library feature of GraalVM to host native extensions on Clojars :)

See https://github.com/lread/clj-graal-docs/issues/15

[2019-11-19 20:21] dundalek commented on #125
@jeroenvandijk That would be cool, I am definitely interested how the exploration will turn out.

[2019-11-19 20:48] #166 closed

[2019-12-05 12:32] chanshunli opened #168 "How to set PATH ?"
![image](https://user-images.githubusercontent.com/6021537/70235665-549bf500-179e-11ea-8d71-1e4662f1e33e.png)

[2019-12-05 12:38] xlisp commented on #168
![image](https://user-images.githubusercontent.com/6021537/70235959-ee63a200-179e-11ea-8fca-963d251022b4.png)

[2019-12-05 20:11] dundalek commented on #168
This was fixed and works in master, I just need to make a release.

Also I would suggest not replacing the path, but prepending to it like:
[code]

Replacing the PATH might be cause for the second issue. Or maybe you are on macOS Catalina?

[2019-12-06 06:44] xlisp commented on #168
This operation is invalid for me.
![截屏2019-12-06下午2 40 08](https://user-images.githubusercontent.com/6021537/70301846-73e66100-1836-11ea-969b-8e637d2ee77d.png)

This is my mac
<img width="632" alt="截屏2019-12-06下午2 43 33" src="https://user-images.githubusercontent.com/6021537/70301957-cd4e9000-1836-11ea-926b-c9df2fbad61e.png">

[2019-12-21 10:23] j-cr commented on #73
For vars you can use:
[code]

[2019-12-23 22:53] LeaveNhA commented on #117
I'm here with a simple search in issues `plugin`.
The idea of Plugins is awesome on `Closh`.

Are there implementation attempt on these ?

[2020-01-01 19:29] dundalek commented on #117
I did not think about the design much yet. But I wonder if we could leverage some 3rd party library for that, something maybe like [hooke](https://github.com/technomancy/robert-hooke).

[2020-02-06 06:47] f-lai opened #169 "Contributing"
Hi,

This is project seems amazing, I've been using Closh personally and at work for the past week. I'm pretty interested in digging more into the internal and contributing.

But I've only done a bit of Clojure with lein - I made a game following Clojure for the Brave and True. So I don't have a lot of knowledge about Clojure beside using the clojure core. I see that the Closh uses boot and I'm no

[2020-02-07 00:29] dundalek commented on #169
Hi, thanks, I'm glad you like it.

I actually use primarily clojure main and deps. Boot is only used for compiling and bundling into the final jar file. It is used mostly for historical reasons. If I find a good library that uses clojure main with deps and works well, I would replace Boot.

To start REPL you can run following from the project directory:
[code]
It will print out nREPL port to which

[2020-02-07 06:38] dogma0 commented on #169
Hey thanks for the reply and the links. I didn't even know there are those key bindings (with scroll-able documentation?! ). Okay, I'll take all these info in and tinker with the code and liquid - my gut tells me I can finish it or at least have some progress before for your talk ;)

[2020-03-03 21:24] dundalek opened #170 "Tab-complete issues with bash integration"
On a fresh install that only includes bash (without other shell) tab-complete does not work in certaion situations:

- global programs `bas` [TAB] does not expand to bash
- path starting with tilde `ls ~/` [TAB]
- local executables, eg chmod +x abc, then `./a` [TAB]

[2020-03-03 22:06] dundalek commented on #170
It seems the issue is with the [underlying script](https://github.com/dundalek/closh/blob/master/resources/completion/completion.bash) that extracts completions from bash. Following commands return nothing.
[code]

I am not sure how to tweak it, so maybe we should just put a recommendation into docs to install zsh or fish in order to get good completion.

[2020-03-09 22:33] dundalek opened #171 "SCI/GraalVM port reports wrong line numbers on error"
When an error occurs in a script file, the SCI/GraalVM port reports wrong location.

I am not sure whether the reader itself assigns wrong metadata or whether the metadata gets lost when the code is translated inside the sh macro.

I've disabled those unit tests for now, but would like to address in the future. The full test suite for sci including those tests can be run with `npm run test-clj-sci

[2020-05-01 05:54] rbeesley commented on #54
Running in a PowerShell window on Windows 10, not under WSL at all, I can get closh to run by starting it with `clj -m closh.zero.frontend.rebel`, and it handles things like `(+ 1 2)` with no difficulty. It seems like [`find-executable`](https://github.com/dundalek/closh/blob/ee1c20ba7c2b2a9db5e09c480660693cbe41ad23/src/jvm/closh/zero/platform/process.clj#L64) could be the biggest obstacle.

If I

[2020-05-02 15:10] dundalek opened #173 "rebel-readline does not work when compiled with Graal native-image"
I tried to compile the rebel-readline frontend with Graal native-image in the [feature/sci-rebel](https://github.com/dundalek/closh/tree/feature/sci-rebel) branch. When running the binary it fails with following error:

[code]

The reason seems to be that `jline3` library tries to load terminal info resources using [relative path](https://github.com/jline/jline3/blob/master/terminal/src/main/java/

[2020-06-01 23:08] seancorfield opened #174 "Auto-complete woes on macOS 10.12"
As noted in #170 macOS doesn't come with bash auto-completion installed and even after `brew install bash-completion@2` which is claimed to fix that problem, the `_completion_loader` error remained for me.

So I installed `fish`. First attempt was via `brew install fish` but that won't run to completion on macOS 10.12 due to (I believe) outdated Xcode tools since it complains about an unknown argu

[2020-06-05 04:29] #169 closed

[2020-11-20 12:02] akond opened #175 "Closh requires node version 9, but your version is v12.18.3"
When I try to install closh via `npm install closh` I get this error:

[code]

[2020-11-22 21:40] dundalek commented on #175
It is like the message says, because of binary modules you need the node version 9. Unfortunately, the project Lumo which is used by closh for nodejs runtime is no longer maintained, so I am not planning to put work into upgrading support for newer node versions.

I suggest you try the Java based version instead. I am working on a way to package closh in a single binary so it will run without Java

[2021-01-05 08:27] jingminglang opened #176 "init file use let set multiple value will hang"
# init.clj

[code]

# start command
[code]

# env
[code]

[2021-01-13 16:17] #176 closed

[2021-02-09 15:33] mauricioszabo opened #179 "Suggestion: structured commands with renderers"
I know this can span to multiple features and maybe it's a bit complicated (I'm willing to help work on it if it sounds interesting for the team), but I had an idea:

Suppose that instead of running `(sh-str ls)` and getting a string, we could run something like `(ls)` (we can define some common-based commands) and make then return valid EDN. For example, `(ls)` could return something like a vecto

[2021-02-09 21:53] dundalek commented on #179
Hey Mauricio, this is something I am very interested in. I showed a possible workflow in my [clojureD talk](https://youtu.be/1it_wBCYBf8?t=638) last year. For the demo I created a simple wrapper for builtins from [Nushell](https://www.nushell.sh). It would be great to have Clojure implementation for these, because it could become even more powerful than what Nushell has. I did not find time to wor

[2021-02-19 06:03] awb99 commented on #179
Great idea Mauricio!

[2021-04-06 22:41] piegamesde opened #180 "Fail fast"
When a subcommand dies with non-zero exit code, I'd expect the shell to handle this and bail out except if there's explicit error handling in the code.

I came here in the hope of finding a replacement for my Bash scripts, and the first thing I write in every Bash script is precisely `set -eo pipefail`.

[2021-05-27 16:05] BuddhiLW opened #181 "How could I require closh in another environment?"
I would like to use defcmd in a babashka context. How could I import this?

[2021-06-16 20:02] dundalek commented on #181
This is currently not possible. Eventually I would like to have ability to run on babaska, perhaps closh can be used as babaska pod. But it requires some integration work.

[2021-06-20 04:01] BuddhiLW commented on #181
I see. I greatly appreciate your response and to point to the direction.

[2021-06-20 04:01] #181 closed

[2021-08-26 20:39] dundalek commented on #179
Another project I discovered recently is https://github.com/kellyjonbrazil/jc which parses output of many commands into JSON, which could be very useful. With it we could get the command output as data and try those data-driven UI experiments.

[2021-10-06 13:02] emeinhardt opened #182 "Feature request: nix instructions + nix package integration"
I'd love to see `closh` available via the `nix` package manager. In the meantime, could the README be updated with instructions on how to use `default.nix`?

[2021-10-07 20:15] dundalek commented on #182
Hi, I actually don't know how to make nix packages :) I just use `nix-shell` to set up local environment for development. Having a nix package would be nice, but it is beyond my capabilities at the moment.

[2021-11-03 06:25] seancorfield commented on #174
I don't care much about this issue and since it has had no response in eighteen months, I'm closing this out.

[2021-11-03 06:25] #174 closed

[2022-02-17 06:38] seancorfield opened #183 "depstar is deprecated and archived; switch to tools.build"
`depstar` has been deprecated and archived for six month now; I'm encouraging everyone to switch to `tools.build`. My `build-clj` wrapper makes it easier to switch.

[2022-03-12 10:59] borkdude opened #184 "Consider upgrading SCI"
SCI has moved to a new organization: `org.babashka/sci {:mvn/version "0.3.2"}`.

Having both `borkdude/sci` and `org.babashka/sci` on the classpath can cause problems.

It is also recommended to use the same version of edamame that SCI uses, to prevent incompatibility problems.

https://github.com/dundalek/closh/blob/b1a7fd310b6511048fbacb8e496f574c8ccfa291/deps.edn#L25